[2017-02-27 15:23] rdwatters opened #1 "Add schema.org metadata to head.html"
This partial is already in the source in layouts/partials/head/metadata-schema-org.html, but this is a partial I used for another project. Need to update to tech documentation for SEO purposes.

[2017-02-27 15:28] rdwatters opened #2 "Add share button to all single pages"
To include

- Twitter
- YCombinator
- Reddit
- "Copy Link" (for easier sharing)

[2017-03-01 16:04] rdwatters opened #3 "Homepage redesign"
Feeling that the current homepage is a bit cheesy. I want this to look more like a slick marketing/landing page extolling some of Hugo's features.

This will likely live on a subdomain for review during developer (e.g. https://hp.hugodocs.info).

Some other OS projects with slick landings:

[Parse](https://parseplatform.github.io/)
[Feather.js](http://feathersjs.com/)
[Yarn](https://yarnpkg.com/en

[2017-03-02 17:27] budparr commented on #3
Thanks for starting this. Where is this idea in terms of high-level approval? Seems to me could be a lot of work that could be for nought.

[2017-03-02 17:32] budparr commented on #3
And, I think it would be a good idea to get a sense of what's important and what's not. e.g. colors, the "logo," such as it is. However, I'm happy to jump on this whenever it's appropriate.

[2017-03-03 08:54] digitalcraftsman commented on #3
Right next to the gopher you added the Markdown logo. Markdown is perhaps the most widely used format but it could underrepresent the support for Asciidoc, reStructuredText and the Org mode.

Below you added a few commands to install Hugo via brew (on OS X). What do you think about the addition of a panel with tabs, where the user can choose the source manually? Currently, third-parties maintain p

[2017-03-06 05:52] rdwatters commented on #3
Sorry gents for the delay. You can see the latest homepage at

<https://hugodocs.info>

@budparr

Honestly, spf is still silent on the Gitter channel. The way I see it, the biggest problem with these docs isn't the design at all: it's the content. I might just tweet him at this point.

@digitalcraftsman

You make a strong point. I removed the markdown logo. This was my own markdown-centric bias. T

[2017-03-06 09:05] digitalcraftsman opened #5 "Delimiters for YAML and TOML front matter are mixed"
The YAML examples on [this page](https://hugodocs.info/content-management/taxonomies/#yaml-front-matter-with-taxonomies-example) use the TOML delimiter `+++`. Instead they should be replaced with `---`.

[2017-03-06 17:21] budparr commented on #3
@rdwatters you are a man of action. See you created something already.

[2017-03-06 18:03] #5 closed, assigned to nobody

[2017-03-06 18:03] rdwatters commented on #5
Good eye! Thanks, @digitalcraftsman ...and again, good luck on the exams 😄

[2017-03-06 19:13] rdwatters commented on #3
@budparr @digitalcraftsman Seems like some good news in the [Twittersphere](https://twitter.com/spf13/status/838740715081445376).

READ: man of compulsiveness, haha. But thanks @budparr

I could use your input on typography. I was going to let gohugo.io use my Typekit account...but it looks like my monthly limit is 500k. Gohugo.io is getting 1M+. Any suggestions on a free/open-source alternative t

[2017-03-06 20:21] budparr commented on #3
I think an open source typeface would be most appropriate.

[2017-03-06 20:25] digitalcraftsman commented on #3
That's good news.

[1M+](https://twitter.com/spf13/status/827219447077339137) would exceed your limit by far. I'll try some other fonts but the current looks pretty decent.

Overall, it's defenitely an improvement over the current design. Currently, the theme has a very sterilewhite. A rebranding with a new color scheme would be consequent.

[2017-03-06 20:29] digitalcraftsman commented on #3
@rdwatters we also have a adapt the new design to the theme site. What pros and cons do you see if we treat the new design as a portable theme that can be included as a Git submodule in the Hugo main repo and the repo for the theme site?

This way we don't have maintain two code bases which might diverge. Updating a commit reference should be easier.

[2017-03-06 21:32] budparr commented on #3
@rdwatters I think this font will get you close to what you like about Museo Sans, and it's open source, and there are no limits, of course. I think it works well at all sizes.

https://fonts.google.com/selection?category=Sans+Serif&stylecount=5&selection.family=Poppins:300,400,500,600,700

I think you have to watch using those lighter weights in there too (you have a 100 weight for the tagline, a

[2017-03-06 22:06] rdwatters commented on #3
I have Poppins locally and just added it to the [`static/fonts`](https://github.com/rdwatters/hugo-docs-concept/tree/master/static/fonts).

I have a handy little ["fonts" mixin](https://github.com/rdwatters/hugo-docs-concept/blob/master/pipeline/scss/abstracts/_mixins.scss#L322-L355) that's called at the top of [`_typography.scss`](https://github.com/rdwatters/hugo-docs-concept/blob/master/pipelin

[2017-03-06 22:18] rdwatters commented on #3
@digitalcraftsman

That's either a lack of creativity on my part or just the assumption that the highest readability is always a) black text on a white background or b) white text on a black background. I know moorereason will be concerned about readability.

Honestly, I see very few drawbacks and I'm all for sharing the final design one it's ready to launch.

Actually, I originally set it up as a

[2017-03-06 22:27] rdwatters commented on #3
Agreed. Updated.

[2017-03-07 00:20] budparr commented on #3
Funny. Didn't know that about the italics. I wonder why. At any rate, yeah I don't mind playing around. I don't find any of the open source fonts terribly inspiring, it just seems to me appropriate for the project.

[2017-03-07 03:31] rdwatters commented on #3
Agreed. I was a little tongue in cheek in saying how much I love Museo Sans, but I think it seems to work okay...and I'm happy to make the donation to Hugo if the three of us can't find a better free alternative.

[2017-03-09 12:06] digitalcraftsman opened #7 "Add lazy loading to showcase"

[2017-03-10 01:59] rdwatters commented on #7
Thanks for filing the issue, @digitalcraftsman. I sent you a collaborator invite. I should have done that a long time ago. Cheers, brother! :beer:

[2017-03-10 02:11] rdwatters opened #8 "Improve icons and block text on homepage"
I have a subscription to flaticons.com that I used for the homepage icons that I then recolored in Affinity Designer. I liked them...for the first 20 minutes. Now I have my misgivings. Also, since they're more complex and directly embedded as SVGs, they're adding additional HTTP requests and killing the PS scores (not the end of the world).

If anyone can think of some better (svg-based, please) i

[2017-03-10 04:20] budparr commented on #8
Are you talking about the blue thing with the pencil in the middle, and the sheets of color on the right?  I'm a bit of a minimalist, but I think that an icon without clear meaning is a decoration at best and a distraction, too, and I can't figure out what they mean.

And the copy could use some work. For instance "Hugo is the first static site generator fast enough to keep up with your creativity

[2017-03-10 07:45] rdwatters commented on #8
I can't either, really. And @digitalcraftsman in his own polite way, kind of said the same thing to me over Gitter.

Sounds good, @budparr.

I don't know why, but I'm pretty partial to the Gopher. I think only because it took forever to tweak...

[2017-03-10 10:06] digitalcraftsman commented on #7
Thanks Ryan. I'll still submit bigger changes via a PR so you can approve them.

[2017-03-10 12:31] budparr commented on #8
Ernest Hemingway: "Kill your darlings"

[2017-03-10 12:39] budparr commented on #8
actually, I think the gopher is fine.

[2017-03-10 15:46] rdwatters commented on #8
We all know how things turned out for Ernie. Haha. Too soon?

I'd get over deleting the gopher. It seems that the Go community is really big on making Gopherized mascots for their projects [ee gopherize.me](https://gopherize.me/).

As for the copy needing help on the homepage: I agree. It's slop I threw together quickly to make a more conventional homepage. Have at it, but as far as the actual con

[2017-03-10 16:44] ghost commented on #8
I agree re: lightbulb w/pencil. That should be replaced. I don't have a replacement in mind yet, but that would depend on what @budparr comes up with first anyway.

I like the gopher. It's distinctly Hugo.

[2017-03-10 17:09] ghost opened #9 "cf-link next-page on left when there is no cf-link prev-page"
On pages without a previous button, such as `https://hugodocs.info/about/` or `https://hugodocs.info/getting-started/`, the next page button displays on the left side. Presumably it should always be on the right.

It's fixed by changing:

    #content-footer {
        justify-content: space-between;
    }

to

    #content-footer {
        justify-content: flex-end;
    }

I know you need `space-b

[2017-03-10 17:25] #9 closed, assigned to nobody

[2017-03-10 17:25] rdwatters commented on #9
Good catch @sethmacleod Should be fixed now. Thanks!

[2017-03-10 17:31] rdwatters opened #10 "Search toggle overlaps homepage nav"
Search icon currently overlaps with the 3-item homepage navigation on mobile...

[2017-03-10 17:32] #10 closed, assigned to rdwatters

[2017-03-10 19:43] ghost opened #11 "Tutorials submenu order reversed"
The order of the tutorials submenu is reversed. I took a look at the `site-navigation.html` partial, but I can't figure out why Tutorials are behaving differently.

[2017-03-10 20:21] #11 closed, assigned to nobody

[2017-03-10 20:22] rdwatters commented on #11
I just set it to sort by weight, so I think we're good now. As an aside, I wonder whether any of these tutorials are still relevant. To see what I mean, compare the current docs site with this prototype. I've successfully incorporated the more important pieces into their respective sections...

Tutorials are tough if you don't set metrics for what shouldn't/shouldn't be included, so this isn't a k

[2017-03-10 22:47] #7 closed, assigned to digitalcraftsman

[2017-03-10 22:48] ghost commented on #11
Ah, I see the `.Site.Data.sitenavigation` part now. I didn't even think to look in the data folder.

Re: tutorials

I like what you've done with re-categorizing the tutorials. It makes much more sense that way. My first reaction was that there should still be a tutorial section, but after seeing how well most of the tutorials fit into already existing sections, I'm not so sure anymore.

- The mult

[2017-03-10 22:58] digitalcraftsman commented on #11
spf13/hugo#3090 would support this as a feature.

I agree. The built-in i18n feature is the way to go. However, I would add the section about the internationalization of dates as an example to the data file site. Currently, this workaround is the only possibiliy to achieve that.

[2017-03-10 23:41] rdwatters commented on #11
This is why I was bummed when Bjorn locked the "authors" conversation to just collaborators. My immediate thought was that the configs are too big, but it looks like the team is already on this.

W/r/t tutorials, I agree with you guys. Future submission guidelines would be simple: a) don't elaborate on Hugo concepts already explained elsewhere in the docs (this creates a management nightmare) and

[2017-03-10 23:44] rdwatters opened #13 "Add "Hosting on Netlify" to "Hosting and Deployment""
This should include typical images for the vendor interface and start with the following assumptions:

1. The user is already comfortable with the CL, git/github.
2. The user has already done the Quick Start *or* has his/her own completed website that is ready for deployment.

[2017-03-10 23:49] rdwatters opened #14 "Some internal templates are entirely undocumented"
See [here](https://hugodocs.info/templates/internal/).

The following internal templates are not documented in the current or POC site:

[code]

Docs for these templates should follow the same model as those used for shortcodes, analytics, and Disqus (i.e., usage sample inputs and outputs for each template).

Also on Discourse forum:

https://discuss.gohugo.io/t/hugo-seo-social-partials/353/41

[2017-03-11 00:11] rdwatters opened #15 "Redistribute existing tutorials and delete the tutorials section"
All three of the current tutorials are outdated or better explained elsewhere in the documentation. The real question is whether tutorials should live within the Hugo docs site collection in the first place, or if the best approach is to continue pointing users to external resources in "Press and Articles." For example, the Jekyll community has an [entirely separate site](http://jekyll.tips/), and

[2017-03-11 09:09] digitalcraftsman commented on #15
Currently, there is no native support for localized dates, see golang/go#12750. However, there's an attempt to add this feature with a third-party libary (have a look at spf13/hugo#2041).

The workaround isn't as elegant as a template function but it's easy to implement.

I agree.

A short tutorial should be suffiecient with a reference to the list of commands.

[2017-03-11 09:17] digitalcraftsman commented on #14
This corresponds to spf13/hugo#1727

[2017-03-11 16:41] rdwatters commented on #15
As a heads up, I'm *finally* putting this in the forums with some strict (and hopefully observed) rules  about feedback. I'm sure the community is going to provide some awesome insight that I never would have thought of--as they usually do :smile: Hope you both are having a fantastic weekend.

[2017-03-11 16:53] rdwatters opened #17 "Develop new Quick Start to introduce more recent Hugo features and concepts"
See [#2864](https://github.com/spf13/hugo/issues/2864) for a related conversation on a default Hugo theme.

The current Quick Start needs to be scrapped. Here is the first round of very rough, high-level requirements:

- [ ] Walk through new "default" Hugo template (**Note:** need confirmation on whether this feature will ship with v20)
  - [ ] Introduces all *fundamental concepts*: lookup order a

[2017-03-11 20:08] ghost commented on #17
What should the goal be for the Quick Start? I wonder about potentially re-explaining concepts that might be better left to good documentation and/or well commented code in the default theme.

For example, the Directory Structure page may be a WIP, but it does exist and it might be better to refer people to it. Same with overriding themes.

If the goal of the Quick Start were to be just to get a s

[2017-03-12 15:39] budparr opened #18 "Make "Getting Started" more friendly"
Just marking this for the moment, but at a glance it seems to me ["Quickstart"](https://github.com/rdwatters/hugo-docs-concept/blob/master/content/getting-started/quick-start.md) is still a bit intimidating, particularly if we're linking to it from the home page (which I was thinking about while working on the design, and I think is a good idea).

Perhaps what's there now could be moved to the tut

[2017-03-12 17:32] rdwatters opened #19 "Move article list to data file.."
Per recommendation from @digitalcraftsman here:
https://github.com/spf13/hugo/pull/2508#commitcomment-18705617

[2017-03-12 20:06] rdwatters opened #20 "Add Build Performance page under "Troubleshooting"`"
Per recommendation from @moorereason in Hugo forums here:

<https://discuss.gohugo.io/t/new-docs-site-need-feedback/5765/7>

Should call attention to the following:

* `--verbose`
* `--stepAnalysis`
* `--renderToMemory`
* `partialCached` function

[2017-03-12 20:19] digitalcraftsman opened #21 "Docs contain broken links"
I used a [broken-link checker](http://www.brokenlinkcheck.com/) to find such and it turns out there are quite a few links that cause an 404 error.

This might happen because

- external resources moved/changed/got deleted
   - e.g. from the showcase or articles from the press section
- the edit-this-page button refers to pages that currently don't exist in the spf13/hugo repo
- some tags are linke

[2017-03-12 20:55] rdwatters commented on #21
Ah yes, that link *should* be broken, actually, although I needed to update it.

My assumption is that the site will live in the spf13 official repo, so when I was creating and editing content, I linked to where the source files *will* be in the future. So the example of "https://github.com/spf13/hugo/blob/master/docs/content/templates/files.md" doesn't exist, but hopefully it will in the future:)

[2017-03-12 20:59] digitalcraftsman commented on #21
Thanks for the confirmation. I could also have been an artifact left over from the reorganization or the content.

[2017-03-12 21:07] rdwatters opened #22 "Add "Authors" content under content management..."
Standardized author metadata is currently a WIP on the [V20 milestones](https://github.com/spf13/hugo/milestone/14):

<https://github.com/spf13/hugo/pull/1850>

Digitalcraftsman already put together the [first round of copy for this feature](https://github.com/digitalcraftsman/hugo/commit/b6673e5309685ae162fdef2dc39c3ce4385c6005)

[2017-03-12 21:14] rdwatters opened #23 "Add chocolatey to "Quick Install" for Windows..."
See related issue on Hugo repo:

https://github.com/spf13/hugo/issues/3120

[2017-03-12 21:27] #23 closed, assigned to nobody

[2017-03-12 21:28] rdwatters commented on #23
Now added to [/getting-started/installing/](https://hugodocs.info/getting-started/installing/#windows-chocolatey).

[2017-03-12 21:35] #22 closed, assigned to rdwatters

[2017-03-12 21:40] rdwatters commented on #13
Per https://github.com/sethmacleod/hugo-docs-concept/commit/2269774392197838b2aecd1f94e0cb5b0380141a

[2017-03-12 21:40] #13 closed, assigned to nobody

[2017-03-12 21:42] rdwatters commented on #18
Agreed, but duplicative of #17.

@budparr See also the related thread in the [Hugo issues](https://github.com/spf13/hugo/issues/2864).

Great minds think alike :smile:

[2017-03-12 21:43] #18 closed, assigned to nobody

[2017-03-12 23:29] #15 closed, assigned to nobody

[2017-03-12 23:30] rdwatters commented on #15
Content from original file for Multilingual re: translating months per locale was copied into /content-management/multilingual/. While this issue is closed, a new issue is open for adding more details surrounding Hugo's native Jekyll import feature (/tools/migrations/#jekyll). #24

[2017-03-12 23:33] rdwatters opened #24 "Add details for Jekyll Import command line to tools/migrations docs"
Under /tools/migrations, it would be great to have a more step-by-step dissection of the `hugo import jekyll` command currently in the [commands/hugo_import_jekyll/](https://hugodocs.info/commands/hugo_import_jekyll/).

[2017-03-13 00:46] budparr commented on #17
May just be me, but when I'm checking out software, I just want to DO something. I'm looking less for understanding the whole, but just to see for myself the folder structure and what it takes to get a page running in the browser.

So, to my mind a quickstart should be the absolute bare minimum to get something running, then with pointers to other places in the docs to explain how things work, so,

[2017-03-13 01:10] rdwatters opened #25 "Break out "other" variables section into individual pages..."
Following suit with the individual function and template pages, the "other variables" page is too encompassing and may prove to be less manageable over time. Need to move git, menu, hugo, sitemap, and shortcode variables into individual `.md`. Navigation will update accordingly...need to set weight in each of these files as well.

[2017-03-13 01:19] #25 closed, assigned to rdwatters

[2017-03-13 03:41] #21 closed, assigned to nobody

[2017-03-13 03:43] rdwatters commented on #21
@digitalcraftsman I ran the same link checker. Originally had a few hundred broken links, but now it's down to roughly 35 broken links, all of which are not actually broken but are just links to different GH repos.

I also went through the very boring process of checking all the articles in "Press and Articles" and removed all the dead sites or links I could find. Still need to switch this over to

[2017-03-13 04:04] #1 closed, assigned to rdwatters

[2017-03-13 04:04] rdwatters commented on #1
Note that this was validated before closing using Google's free validator:

https://search.google.com/structured-data/testing-tool#url=https%3A%2F%2Fhugodocs.info%2Ftools%2Fsyntax-highlighting%2F

[2017-03-13 04:07] rdwatters commented on #17
All my thoughts on a quick start as well...in a nut shell.

I'd really like to see if the default theme takes flight, especially before v20.

I think the default theme and Quick Start should be inseparably wedded without question.

[2017-03-13 13:02] rdwatters commented on #20
@digitalcraftsman I could really use your help on this one whenever you have a minute:)

[2017-03-13 15:09] rdwatters opened #26 "Update Ubuntu Snap/Debian/Ubuntu Documentation in "/installing""
Per the following issue and recommendations:

https://github.com/spf13/hugo/issues/3143

[2017-03-13 15:31] rdwatters opened #27 "Toggle for dark/light code theme in all code blocks"
Inspired by @moorereason 's preferences *and* Google's documentation:

https://developers.google.com/search/docs/guides/intro-structured-data

In addition to the existing "copy" and "download" buttons in code blocks, users should have the option to toggle between dark and light themes in code blocks. This will likely happen in two parts:

- [ ] Add toggle button to all code blocks and create new s

[2017-03-13 15:44] rdwatters opened #28 "Add GH Milestones to Roadmap"
Per discussion forum feedback here:

https://discuss.gohugo.io/t/new-docs-site-need-feedback/5765/6?u=rdwatters

[2017-03-13 15:50] rdwatters commented on #26
Per https://github.com/rdwatters/hugo-docs-concept/commit/2296560dd50e89abc74394ad010db966686e109e

[2017-03-13 15:50] #26 closed, assigned to nobody

[2017-03-13 15:50] rdwatters commented on #28
Per https://github.com/rdwatters/hugo-docs-concept/commit/2296560dd50e89abc74394ad010db966686e109e

[2017-03-13 15:50] #28 closed, assigned to rdwatters

[2017-03-13 17:12] moorereason opened #29 "Updates to front matter variables"
As seen here: https://hugodocs.info/content-management/front-matter/#front-matter-variables

*Note: these are surely issues in the upstream docs, but I don't want us to have to do double work.  I'm confident this site will eventually replace the existing docs site.*

- There are no required front matter variables anymore.  No need to differentiate required/optional variables.  Technically, the ent

[2017-03-13 21:36] moorereason commented on #20
This repo may end up being a great case study to walk through.  :stuck_out_tongue_winking_eye:

[code]

An advanced topic, but the `benchmark` command is very handy, as well.  You can output CPU and memory pprof profiles that can be [analyzed with `go tool pprof`](https://blog.golang.org/profiling-go-programs).

[code]

It looks like we spend a lot of time rendering partial templates.  Two things

[2017-03-13 22:05] ghost opened #30 "Improve Troubleshooting docs"
After running into 2 different errors today, I was thinking about improving the Troubleshooting documentation.

1. Git submodules. Installing a theme with git clone is all well and good, but it should also be added as a submodule.

2. Netlify doesn't always have the most recent Hugo version set as their default version. Currently it is set at 0.17. Netlify allows people to specify more recent vers

[2017-03-13 22:10] moorereason opened #31 "Add function signatures"
Ryan's added a `signature` param in the front matter of the function pages.  Need to populate those params.  The idea is to set the signature to something like this:

[code]

I started looking at this and ran into some issues with multiple functions in the same file (ie. base64.md and math.md).  I need to think about how this should be structured.

[2017-03-13 23:05] rdwatters commented on #20
Haha. It is. In fact, when you first put this on the forums, I used `partialCached` on [site-navigation.html](https://github.com/rdwatters/hugo-docs-concept/blob/master/layouts/partials/site-navigation.html). I'm not running quite as slow as the above, but locally I'm getting about 3.3 seconds to build. When caching the partial, I was down to < 400 ms. So I'm going to assume that's the culprit. I'

[2017-03-13 23:13] rdwatters commented on #31
I can break up base64, but `math` just seemed ridiculous when I first started creating these individual files.

I think the `godocref` and `relatedfuncs` are important as well, although pretty tedious since everything here is new.

`hugoversion` is likely only practicable for future additions...

Speaking of future function additions, I have some ideas, but I'll hold off until after this has been

[2017-03-13 23:17] rdwatters commented on #30
I'd keep it in the Netlify tutorial. Call out "gotchas" as either "warning" or "note" admonitions, depending on the severity of the consequences.

I think the goal moving forward should be making the line clear between what is Hugo and what isn't Hugo in the docs. I like the idea of discussing submodules---and you're right that's the only way to run themes with Netlify--but I think it should be pa

[2017-03-13 23:23] #19 closed, assigned to rdwatters

[2017-03-14 02:57] rdwatters commented on #29
@moorereason I've [finished most of these](https://hugodocs.info/content-management/front-matter/#predefined). I'm assuming [`published`](https://github.com/spf13/hugo/blob/ede452d34ef82a2d6949bf0c5a4584caf3ae03bc/hugolib/page.go#L1039) is still intentionally undocumented because of potential confusion over its [relationship with `draft`](https://github.com/spf13/hugo/blob/ede452d34ef82a2d6949bf0c

[2017-03-14 03:00] rdwatters commented on #31
Also, should this be a consideration w/r/t front matter for `funcs` or is this strictly "namespace" in the sense of how it's called on the page? (cf. current docs treatment of [grouping functions into related buckets](http://gohugo.io/templates/functions/))

https://github.com/spf13/hugo/issues/3042

[2017-03-14 04:55] moorereason commented on #31
Both.

[2017-03-14 04:57] ghost commented on #30
That makes sense.

Re: Hugo errors, what should be the criteria for including them in the Troubleshooting section? There is already the issue tracker, so presumably the Troubleshooting section should be far more limited in scope.

[2017-03-14 18:20] rdwatters opened #33 "Update all instances of OSX and OS X to macOS"
Mirrors @anthonyfok changes per this commit:

https://github.com/spf13/hugo/commit/042f8fca03a308e59b3665ad984b5995cd97e2b2

[2017-03-14 18:21] #33 closed, assigned to nobody

[2017-03-14 18:24] rdwatters opened #34 "Update Linux install to include Fedora and Red Hat"
See related discussion thread here:

https://discuss.gohugo.io/t/solved-fedora-copr-repository-out-of-service/2491/16

Commit in spf13/hugo:

https://github.com/spf13/hugo/commit/ec3dc325111d5117cd2919ce0822fac1db990f19

cc/ @anthonyfok

[2017-03-14 18:29] #34 closed, assigned to nobody

[2017-03-15 12:11] budparr commented on #3
Here's a draft of the home page, and a couple of notes. Been going through the copy, but it still needs some work there.

There's been some discussion about colors. I embraced the existing colors in this design and think I found a balance with them. Look forward to your feedback.

Note that here I'm using releases as news. I don't want to create work for anyone, or subvert any existing automated p

[2017-03-15 13:38] digitalcraftsman commented on #3
That looks absolutely awesome @budparr :beers:

Here are my two cents:

The hero section of the homepage should take the full screen height so that the news are shown at the bottom of the screen. Furthermore, the changing background color in the when hovering a news item makes it look like a link.

Perhaps we should add some kind of blog section where we threat the news as posts. Last year there w

[2017-03-15 13:44] budparr commented on #3
Yeah, I think it's a very copy-heavy page in general, just wanted to make sure we said all the things, but certainly can be pared.

The news items are meant to be links to the full release notes or news item. I just took out the actual links until we decided whether not having them there was feasible. I hope so, because I think it's valuable. Unless there's an automated process for adding the rele

[2017-03-15 13:48] digitalcraftsman commented on #3
I would propose that each release note etc. should be a single post. Adding them automatically to the homepage should be a no-brainer with a few lines of code.

[2017-03-15 15:11] moorereason commented on #31
Related discussion:  https://discuss.gohugo.io/t/5800

[2017-03-15 15:28] rdwatters opened #36 "Add namespace (`ns`) field to front matter for all functions..."
Per the discussion thread re: code reorganization of functions into namespaces:

https://discuss.gohugo.io/t/plan-for-namespacing-template-funcs/5800/5

[2017-03-15 16:55] rdwatters opened #37 "Add `logic` and `comparison` files to /functions"
Right now, there is a handy [math](https://hugodocs.info/functions/math) page within the functions section of the site, but this ignores other operators. [See this related discuss thread](https://discuss.gohugo.io/t/math-and-logic-operator/5805). Possible solutions:

1. Add individual `.md` for both sets of operators with `operators` as  a tag for a convenient  [singular view of all three](https:/

[2017-03-15 17:53] rdwatters opened #38 "Incorporate old Mathjax tutorial into supported formats and elsewhere..."
I failed to migrate this page over:

http://gohugo.io/tutorials/mathjax/

This can now be incorporated into *parts* of the [supported formats section under content management](https://hugodocs.info/content-management/formats/).

See recent forum thread:

https://discuss.gohugo.io/t/is-there-any-way-to-ignore-underscore-when-rendering-markdown/5801

[2017-03-15 23:28] rdwatters opened #39 "Add `.Parent` to shortcode documentation..."
Per @bep's comment in forum discussion here:

https://discuss.gohugo.io/t/can-i-check-if-a-shortcode-is-inside-another-shortcode/5811

[2017-03-16 03:01] budparr commented on #3
@digitalcraftsman Thanks again for your comments. Responses to specific items:

1) I shortened the copy in the hero section by 26 characters (-15%). That copy doesn't feel perfect to me, but it's in the ballpark, and I think about the right length (comes to 3 lines on all but the smaller screens).

2) I tried both vertical height and padding to make the hero section take up more screen space, to f

[2017-03-16 04:17] #39 closed, assigned to rdwatters

[2017-03-16 05:03] rdwatters commented on #30
Agreed. What's there right now has largely been obviated by improvements in Hugo over the last 5 releases. This is going to be a largely qualitative decision based on forum community feedback... That said:

https://github.com/rdwatters/hugo-docs-concept/issues/20

There is also the template debugging page, which I'm wondering whether that should belong under "templating" or "troubleshooting" or...

[2017-03-16 05:27] rdwatters commented on #3
Hey guys. Long day at work so I'll give this a thorough review tomorrow night but first impressions on my phone? I love it!

Oh, and the gopher is a combination of CSS keyframes pointing to IDs in the embedded svg and then a couple extracted animated.css classes that are added on scroll. The typing in the terminal is done with blast on top of velocity.js, the latter of which I use on all the JS-po

[2017-03-16 05:28] rdwatters commented on #3
D'oh! One more thing before I pass out. +1 on the Muli. It's already in the assets and is actually what I used for the original site I shared with the team!

Sent from my iPhone

[2017-03-16 15:07] rdwatters commented on #3
@budparr I will have time to dig in this afternoon. What is your preferred feedback mechanism, especially w/r/t content changes? I already have some notes if you're cool with the GH thread.

[2017-03-16 15:09] budparr commented on #3
GH is fine. I had to build this in its own repo to make quick work of things, so I think right here is fine. Maybe you want to start a new thread just for content, and keep this one to design?

[2017-03-16 15:24] rdwatters commented on #3
Let's stick with this thread since I'm only talking about content for the homepage. A couple quick notes before I hop into this meeting:

1. We need to [give Renee French credit](https://blog.golang.org/gopher) somewhere in the footer for the gopher.
2. I agree with @digitalcraftsman about colors-on-hover implying links.
3. @digitalcraftsman I think a blog is great. For context, @budparr, I'd chec

[2017-03-16 15:25] budparr commented on #3
Cool, thanks. Quickly, on your 2nd issue. They are meant to be links, there's just nothing to link to until we set up a page for them.

[2017-03-16 15:28] rdwatters opened #40 "[WIP] Break out last 4 release notes into individual pages..."
These *might* live as blog posts in the future. WIP.

See https://github.com/rdwatters/hugo-docs-concept/issues/3

[2017-03-16 15:51] rdwatters commented on #3
This line is pure gold:

[2017-03-16 17:44] ghost commented on #3
This looks fantastic @budparr ! Just a couple of comments from an amateur:

1. Re: framework, I normally think of Bootstrap, Foundation, etc., and I think of static site generator for Hugo, Jekyll, etc. It might be confusing to call Hugo a framework. Maybe not.
2. The What Makes Hugo Special section feels too long when scrolling through it on the desktop. It feels natural on mobile.

[2017-03-16 19:11] budparr commented on #3
Quick aside. As you may know, Smashing Magazine is moving to Hugo/Netlify, launching today, I think. Netlify has put out a [video](https://www.youtube.com/watch?v=rB4Cl5LSe2c). It doesn't mention Hugo, but there's sure to be some, and perhaps, at some point, we could put a "look who's using Hugo" type of thing.

[2017-03-16 19:27] budparr commented on #3
Thanks, @sethmacleod !

1. I've given this a lot of thought. The first line in the (old) docs is "Hugo is a general-purpose website framework" and that got me thinking about this in the first place.

There's a huge difference between a framework and what is thought of as a "static site generator," which can be anything, for example, Gulp, Grunt, etc. There are nearly 500 of them. What separates Hu

[2017-03-16 19:35] rdwatters commented on #3
@digitalcraftsman has done a really nice job with the showcase.

But in blog posts mentioning this stuff? Definitely. That's very cool about Smashing!:)

Sent from my iPhone

[2017-03-16 20:07] rdwatters opened #41 "Add new standards for theme contributions"
This is already partially improved from the currently published site. See this thread for @bep's suggestion to include minimal visual descriptions for every theme. This is an *important* accessibility consideration:

https://discuss.gohugo.io/t/theme-recommendations/5816/4

I think the easiest way to take care of this will be to establish some tighter (but not discouraging) editorial/submission gu

[2017-03-16 20:27] rdwatters commented on #3
@budparr That video says it's unavailable? Do I need to be invited?

[2017-03-16 20:27] budparr commented on #3
No, it's private until they make the official announcement, which should be soon.

[2017-03-16 20:28] rdwatters commented on #3
Ahhh, I already wrote and asked to see it, haha.

[2017-03-16 21:04] rdwatters commented on #3
Always.

Now that shortcodes already have their own row that *includes* markdown, yes. Also, if you've been following recent issues on the Hugo repo, it looks like there are changes afoot w/r/t org-mode. I think we can delete the markdown row altogether.

I can see the association, but remember that even `.Net` was a "framework" well before bootstrap existed. I think of ember.js as a framework. Al

[2017-03-16 21:06] budparr commented on #3
Okay, I put up a new version.

Changes:
1. Add Renée French credit to the footer (note, for the moment, the footer doesn't show on mobile, but on my list)
2. Removed the Markdown blurb, as discussed.
3. Made the news links on the home page clickable.
4. Added a quick single page template*
5. Changed the menu items from Github (which is linked to elsewhere) to Blog (subject to discussion).

* This

[2017-03-16 21:06] budparr commented on #3
Crossed, paths @rdwatters - will check out your post now.

[2017-03-16 21:17] budparr commented on #3
If you don't mind, @rdwatters I'd like to push back on a copy change. I respect the comment about "polyglot" being low frequency, but a) It has the "Multilingual and i18n" copy next to it as a modifer, and

b) I don't this works as well as

<img width="1124" alt="screen shot 2017-03-16 at 5 14 47 pm" src="https://cloud.githubusercontent.com/assets/115347/24018899/297d6616-0a6c-11e7-9d5e-d81a4d4ac8

[2017-03-16 21:20] budparr commented on #3
Agree, and was a bit uncomfortable with that, too. It implies too much, though what I was trying to get across was that the project is community driven. I'll think of something else, but please do suggest something if you have it.

I think the internal templates are a neat time-saving featured, and hope you all agree it should be there.

[2017-03-16 21:21] budparr commented on #3
fixed

### TODO:

- [ ] If you want me to animate "El Hugopher" (the cheeky Lucha Libre alter ego of Hugo Langoria, all of which I just made up now), let me know. We also need to change the command line text anyway since go get is soon to not be the recommended installation method.

- [ ] I don't like icon fonts, but I cheated and made a much-smaller-than-font-awesome custom font with fontello. Yo

[2017-03-16 21:22] rdwatters commented on #3
I'm a publisher that works with a couple hundred doctors; pushback is my milieu. I'm cool with keeping "polyglot." :smile:

Are you thinking I should make the fixed header black background on the actual docs? Thoughts @digitalcraftsman? We should all keep in mind that the themes site will need to be worked on as well.

Also, I'll be out of pocket until tomorrow evening, but I'm planning on tacklin

[2017-03-16 21:24] budparr commented on #3
I'm happy to apply this styling to the docs site. I'm a bit blinded by the sea of white and text on the docs site and would love to see some color in there to differentiate parts.

[2017-03-16 21:25] budparr commented on #3
And, @rdwatters if this page is going to go forward, you and I should have a discussion about how to integrate it into your repo, or if it would live separately. I read the forum posts about a blog, and the suggestion there was to keep it separate, and if the blog is separate, then the home page is most integral with that. Thoughts?

[2017-03-17 16:17] rdwatters commented on #3
I agree. There is some talk of future versions going a different route than the all-in-one-repo approach. I think the docs, blog, and homepage would all be in a single repository with Hugo source elsewhere. As in, multiple repositories within a GitHub organization or similar.

Just a couple notes out of respect for your time:

1. W/r/t any copy- and content-related changes for both your homepage a

[2017-03-17 16:20] budparr commented on #3
Well, from an earlier thread, it was pointed out that the docs should be versioned with the underlying software, but I think the home page and blog would best be alone so as to encourage participation (i.e. it's pretty clear when forking a simple repo, and tests, etc).

[2017-03-17 16:24] budparr commented on #3
I've already started to use the new version when I'm working. Not for me to say, of course, but I think get them out in the world, at least when you've got a critical mass of content. The legacy docs could be published as well, for anyone wanting cross-reference.

[2017-03-17 16:28] rdwatters commented on #3
I think everyone agrees with you, especially me: otherwise this will be an endless WIP. That said, currently only one person on the team has access to make those decisions, so it's definitely not for me to say either.

[2017-03-17 16:30] budparr commented on #3
Who needs to approve these things? Steve?

[2017-03-17 17:47] bep opened #42 "About the "speed text""
Jettison expensive runtime dependencies, and let Go’s incomparable I/O primitives do the work for you. For the first time, measure build times in micro- and milliseconds.

This may seem like a vanity-issue, but I think you're giving Go too much credit, or, you're giving Go all the credit. It's like saying that it isn't possible to create a fast static site generator in Ruby or Python, which is bul

[2017-03-17 17:56] budparr opened #43 "Docs Design Discussion"
Okay, I just started fooling around with this, mocking up in my browser. Here are some things I did, which are up for discussion.

Primary goal of these changes is to make the documentation more readable.

1. Created a separation between navigation/header and the content below.
  Frankly, the navy blue might be too stark of a contrast, but a good starting place.

2. Made the background color of th

[2017-03-17 18:12] budparr commented on #42
I agree the copy needs to change (we have a slightly different version in this discussion on the [homepage design](https://github.com/rdwatters/hugo-docs-concept/issues/3)).

Here's a VERY rough start on a replacement, based on these assumptions:

1) Go's concurrency deserves some of the credit.
2) Whether or not one can do this in Ruby, etc. no one has accomplished what Hugo has so far, and Hugo'

[2017-03-17 18:14] rdwatters commented on #42
Thanks, @bep

It's certainly not *intended* as a knock on the incredible development work that has helped make Hugo so darn zippy but is more, at least in a marketing sense, leveraging Golang's (I believe) well-known concurrency model and using it as supplemental support for the blistering speed of Hugo. But you're right that we already say it's the fastest, so we can pull the second half of the f

[2017-03-17 18:26] bep commented on #42
Go's concurrency model is powerful because it is easy to use, not because it is faster than any other -- harder to use -- concurrency model. But that is beside the point, my main point was to "split the credit" somehow.

I have been coding fast and hard on the "multi output" feature lately, and have not thought too hard about performance doing it. Yesterday I did some benchmarks that showed a fair

[2017-03-17 18:42] budparr commented on #42
Here's something noncommittal, but perhaps a safe choice and gets to the heart of the matter. If this is ever not a true statement, the copy can be changed:

"Hugo is the fastest tool of its kind. At less than .7 ms per page, the average site builds in less than a second."

[2017-03-17 18:45] rdwatters commented on #42
@bep
How about the following, slightly tweaked from my revision above?

1.

2.

Or even...

3.

I'm thinking about less common words like "jettison" for audiences who speak English as a second language, at least until the docs can be internationalized based on our GA data. Thoughts?

As I mentioned, we already talk enough about Go, and the three above options now point to Hugo as fast rather than

[2017-03-17 18:47] bep commented on #42
My take:

The "jettison" and "expensive runtime dependencies" sounds very foreign to my Norwegian ears.

[2017-03-17 18:49] budparr commented on #42
bingo. thank you

[2017-03-17 18:49] rdwatters commented on #42
@budparr 's works for me :smile:  NB, "polyglot"

[2017-03-17 18:52] bep commented on #42
On an added note:

I guess that the Jekyll creator didn't think too hard about speed. "It is static, and I deploy by a script in the background, so it doesn't matter if it takes 10 or 60 seconds." Which is kind of true; but the big win in Hugo's case is if you combine the speed with the Live-Reload feature (and also with the Netflify preview feature).

[2017-03-17 18:55] rdwatters commented on #42
Sure @budparr what do you think about a new block for something sorta developer-friendliness related (ie, Bjorn's point re: LiveReload) in the homepage?

[2017-03-17 18:56] bep commented on #42
And, I remember a year ago or so, a guy was doing a proof of concept for a big US site with 500 thousand pages. Which is unthinkable with Jekyll and the others. But it it may be within reach for Hugo.

[2017-03-17 18:56] budparr commented on #42
I don't think we should add more, so it would come at the expense of something else. Livereload isn't hard to accomplish outside of Hugo (I use Browser-sync nearly as much as Hugo's built-in).

[2017-03-17 18:57] bep commented on #42
Agree, the one-liner above is fine.

[2017-03-17 18:58] budparr commented on #42
@bep You know the Smashing Magazine Hugo launch. That site has over 7,000 pages. Build time is <2 min (though that's on a tweaked, and expensive server).

[2017-03-17 18:59] budparr commented on #3
New version with copy change from issue #42
http://hugo-home-page-concept-170317-v1.surge.sh/

[2017-03-17 18:59] bep commented on #42
But Hugo's live-reload is better than both Gulp and Grunt's variant.

I guess Smashing Magazine has some "expensive templates", which is an area with some obvious room for improvements in Hugo.

[2017-03-17 19:01] budparr commented on #42
I should also add that that includes the entire asset pipeline, which accounts for a small percentage, but there's an awful lot there aside from the standard site. Nonetheless, a nice use-case, because that site wouldn't be possible in Jekyll, etc.

[2017-03-17 19:03] budparr commented on #42
@bep would love it if you could weigh in on this homepage design issue when you have an opportunity. https://github.com/rdwatters/hugo-docs-concept/issues/3

[2017-03-17 19:07] budparr commented on #3
Open questions:

1) Is the design ready for approval by Hugo's core team?
2) Should we add news/blog section?
(I think everyone wants this, but previous discussions got stalled. I also think that even if the content were only releases, as a fallaback, that may be enough).
3) Where should the home page (and potentially, news/blog) live?
(my argument is that the home page and blog don't need to be v

[2017-03-17 19:17] bep commented on #3
@budparr I will look closer on this tomorrow, but this looks very, very nice. Love the colour scheme and layout. I'm a typography nerd, and while the font looks great in headlines, it would be great to see it in use in a long-text documentation page. Maybe an idea would be to use a serif for the body text in the doc part of the site and keep the "landing page" all sans serif?

[2017-03-17 19:22] budparr commented on #3
Thank you. I'm a typography nerd (or more like freak, in my case), too.

The same typeface is in use on the current docs concept, so you can see it there, keeping in mind we've got another issue open (https://github.com/rdwatters/hugo-docs-concept/issues/43)  on the docs design, which will contain further type improvements (adding a measure, that sort of thing)

[2017-03-17 20:03] rdwatters commented on #3
There are a dozen or so open-source fonts in the static folder if you want to play around with them, @budparr. I mentioned Museo Sans as well, which I'll have to find, but I'm happy to donate.

@bep @budparr I'll defer to both of you (and the Hugo team) on visual design decisions--I'm by no means a designer. I think @digitalcraftsman can provide better insight and recommendations than I can.

Colo

[2017-03-17 20:12] budparr commented on #3
I'm fine with "Muli." Every font choice is a compromise–particularly when using open-source, but I think that's appropriate here)—and I think Muli is a good choice. Mentioned this earlier, but maybe it got lost in the comments, but there's an geometric affinity with the title in the brand image, and it's capable for headings (distinctive, but not too much) and appears to me to work okay at smaller

[2017-03-17 20:14] bep commented on #3
I will say this, though; I'm fine with Muli, too. It looks good (is distinct) and is easy-to-read in body text as well.

this looks plenty good enough (and miles better than @rdwatters); and I am a big fan of getting stuff that is good enough out so people can use it and get a feel of it, and not jerk around too much with pixel peeping ...

But then we need to get control of the deployment flow (

[2017-03-17 20:45] rdwatters commented on #3
Agreed on both accounts. It's awesome!

I have added you as a collaborator, @budparr. Feel free to do whatever you think best to make the site prettier, friendlier, or more usable.

That said, I request we talk about any substantive content changes you might want to make to the actual docs. I really appreciate your help and expertise. Thanks guys!

[2017-03-17 20:47] rdwatters commented on #43
I don't know if I mentioned this in the other thread, but this looks great!

What do you think about this?

https://github.com/rdwatters/hugo-docs-concept/issues/27

[2017-03-17 22:03] budparr commented on #27
got it

[2017-03-17 23:32] digitalcraftsman commented on #3
Thanks @budparr for taking our feedback into account for each iteration :+1:

This are some points that I would like to highlight in my feedback:

- the text "latest news" shouldn't change the background color while hovering it. Otherwise it would indicate a hyperlink.
- what do you think about adding a few icons to the "What makes Hugo so special?" section?
- in the "100s of Themes" section we co

[2017-03-17 23:41] digitalcraftsman commented on #43
Frankly, the navy blue might be too stark of a contrast, but a good starting place.

they should definitely be seperated visually

You added a shadow to the TOC on the right. The shadow let's make the TOC look more important that the actual content.

@budparr what do you think about experimenting with a different color pallet?

[2017-03-17 23:52] budparr commented on #3
Good comments, @digitalcraftsman Thank you.

- [ ] the text "latest news" shouldn't change the background color while hovering it. Otherwise it would indicate a hyperlink.

That should/will link to an aggregate page. I've stepped tentatively into that element, not wanting to put too much effort into it if wasn't going to be a thing. But sounds like people want it, so I'll go for it.

Only if they

[2017-03-17 23:56] budparr commented on #43
@digitalcraftsman Keep in mind that the above was just done with inspect in the browser, just to start thinking.

I think in this context the navy blue I used on the home page becomes overwhelming (I mentioned that above). So, yeah. We need to create that separation, but this may not be it. On the homepage, I think the dark color does a nice job of absorbing the extreme "colorfullness" of the logo

[2017-03-18 00:41] rdwatters commented on #3
I'll break the releases into individual files (already an issue in here but I'm on my phone and getting car sick in this Uber) for easier management and to help create a list page for it.

As far as a separate repo, I still think all the docs and news/blog would just be within a single repo within the Hugo organization. The idea of only making changes to the docs  with releases doesn't make sense

[2017-03-18 01:50] budparr commented on #3
Having the main repo is not encouraging to the average user (i.e. someone who may build sites with Hugo, but not a Go developer) to see past this and know what to do with it:

<img width="318" alt="screen shot 2017-03-17 at 9 25 03 pm" src="https://cloud.githubusercontent.com/assets/115347/24068028/3fd96c76-0b5b-11e7-9d72-0d7e2508152c.png">

If there's to be a content-driven website, the repo shou

[2017-03-18 02:05] bep commented on #3
Note that the mono-repo motivation is mainly versional and not distributional. I.e. with a fast moving software, what API version does this doc support? With a monorepo that comes for free. And free is hard to compete with.

A couple of requirements drops from that hat:

1) Building the docs should be `hugo -s docs` and no Gulp mumbo jumbo (I'm not saying not to use Gulp or LESS or whatever, but t

[2017-03-18 02:06] budparr commented on #3
I was arguing specifically for the home page with a news section, not the docs.

[2017-03-18 02:35] budparr commented on #3
Sorry, didn't quite get this part when I first read your comment.

[2017-03-18 04:35] budparr commented on #3
Reflect some of the changes above and a [wip] news page
http://hugo-home-page-concept-170318-v1.surge.sh/

[2017-03-18 07:05] rdwatters commented on #3
Drunken St Patty's Day rant...

🍺 🍻 🍀

So sorry @budparr.

[2017-03-18 07:08] rdwatters commented on #43
@budparr @digitalcraftsman @bep

I'm good with whatever design decisions you make on this :smile:

[2017-03-18 07:13] rdwatters commented on #40
I thought we were going to talk about content-related items, @budparr. That said, if you want to make the blog posts (or release notes) a separate section of content, please make sure to create the appropriate archetype and add it to the contrib documentation so that creating new files for contribs is only a single command line away. Thanks!

[2017-03-18 07:23] rdwatters commented on #3
@bep

**[EDITED]**: See https://github.com/rdwatters/hugo-docs-concept/issues/44

[2017-03-18 09:18] digitalcraftsman commented on #3
Of course they should have a meaning but I can understand that it's hard to find appropriate icons. I just had a layout in mind that is similar to GitHub's homepage (if you're not signed in).

[2017-03-18 09:57] bep commented on #3
@budparr The new font on the news page is golden. Very very nice to look at, and it nicely marks the distinction between "marketing" (i.e. the front page) and stuff that is meant to be read, long text, documentation etc.

[2017-03-18 10:03] bep commented on #3
Should also add a good monospaced font for source code and "back ticked" text:

Here is my choice of font faces in that department:

[code]
https://en.wikipedia.org/wiki/Inconsolata

[2017-03-18 10:13] bep commented on #43
I think it looks really really good, but it would be interesting to see the serif in use in body text in the doc pages as well. It may look odd or ... fantastic.

[2017-03-18 14:14] #42 closed, assigned to nobody

[2017-03-18 14:33] budparr commented on #3
Hey, @rdwatters Sorry for offending you, man. Certainly not my intent. I'm not sure if your criticisms are about the home page or my comment about the blog, or everything, but my "brandishing the credentials" was specifically about my ability to start with a set of assumptions about what a blog post might look like, so that we can get it up and push on it. Build/test/refine.

[2017-03-18 14:45] rdwatters commented on #3
@budparr please see my revisions to my comment above. I was out of line. Rough week and no worries. This all looks incredible! 😄

[2017-03-18 14:56] rdwatters commented on #2
@budparr I opened this a bit ago, but maybe it's better to just start with whether this is worthwhile. The headings are already click-copyable, but do you think share buttons add value for docs? If so, I know yours will look better than mine. Thoughts?

[2017-03-18 15:35] budparr commented on #2
Hmm. I looked at a couple of examples in the wild and came to no good conclusion.  I think the click-copy headings are super important, so glad you have that. It would be cool if we could come up with a way to share directly the Hugo forums, but maybe that's over thinking it. I think as long as we have good meta-data on the page everything is quite shareable even without the buttons.

[2017-03-18 15:41] budparr commented on #40
Didn't you start this issue? I was just going to do it for you. Totally agree though: we definitely need to talk about this in a bigger picture way. Honestly, my feeling is to get the news section up before the community changes their mind :) so I'm just pushing on it hard right now. And thanks for being patient with me while I feel my way around on contributing to this project.

Perhaps we should

[2017-03-18 16:36] rdwatters commented on #43
@budparr what are your thoughts on the admonitions?

[2017-03-18 16:45] budparr commented on #43
I think the only thing I didn't address was the potential for using a serif typeface for body copy, which is just something to try and haven't gotten there yet.

[2017-03-18 16:48] rdwatters commented on #40
Sure. Can you map this out for me: I mean, how you see these repos working? My assumption was that these docs will just go into the spf13 repo for Hugo, but I know there is talk of creating an organization, which would be great since I can see myself doing tons of changes to the docs even after the new version launches. Also, URL structure: are you thinking that themes, docs, and blog would all be

[2017-03-18 16:49] budparr commented on #3
@digitalcraftsman - I think we're agreed on this. The Github homepage is great, though those are not off-the-shelf icons. That's my only point - just hard to find the right ones. I'll make an issue on the homepage repo so the idea doesn't get lost.

[2017-03-18 17:04] rdwatters commented on #2
Thanms for digging around. I'm going to close this then. Every page is brimming with metadata, and I like the idea of making it easier to reference directly in the forums too. That's why I did the clickable kinks, but taking it a step further is a good idea...when we have more staff to do so. Cheers.

[2017-03-18 17:05] #2 closed, assigned to budparr

[2017-03-18 17:53] rdwatters commented on #29
closing this since the front matter section is updated; `status` is a non-issue and neither are the aliases in the current code.

[2017-03-18 17:53] #29 closed, assigned to rdwatters

[2017-03-18 18:14] rdwatters opened #44 "Improve build performance of docs site [HELP NEEDED]"
@digitalcraftsman @moorereason @bep @budparr

1. What's the target build time for building the docs site per [@bep 's comment](https://github.com/rdwatters/hugo-docs-concept/issues/20) that the docs site is *THE* representative site for Hugo? (This makes sense for dogfooding.)

Here's on my mid-2012 Macbook Pro, 500gb SSD, 2.6 GHz Intel Core i7, 8 GB 1600 MHz DDR3:

[code]

My typical results runn

[2017-03-18 18:26] budparr commented on #40
Funny, I didn't walk into this thinking I'd get to make any of these sorts of planning decisions, but, hey, I'm rolling with it, and if it sticks, fine by me, and quite pleased—delighted, actually—if my participation is helpful.

The sub-domain model is currently in place, aside from the docs. It makes sense to me to carry that through.

**repo: hugo**
- Software
- Docs (docs.gohugo.io) _<- that w

[2017-03-18 18:38] bep commented on #44
[code]

When we say "~1 ms per page" we mean 1 ms per output page, i.e. home page = 1 page, 1 tag = 1 page etc. So, in this case (the stats is a little hard to do calculation from) there is 600 pages which is  0,7 ms per page, which is ... exellent!!!

So, just leave as is.

[2017-03-18 18:39] rdwatters commented on #3
@budparr @digitalcraftsman I have a premium membership to [flaticon.com](http://www.flaticon.com/) or [nounproject](https://thenounproject.com/) if you find something you dig and want to add to the site or if you find something that's easily tweakable.

I think I mentioned this, but there is a [custom icon font](https://github.com/rdwatters/hugo-docs-concept/tree/master/static/fonts/fontello)(incl

[2017-03-18 18:46] bep commented on #44
This is about eating the dog food.

We have a menu system, so use it. If the menu system does not do what you want, let us fix it.

[2017-03-18 18:49] rdwatters commented on #43
@budparr Are you talking about the [`warn` and `note` admonitions](https://hugodocs.info/contribute/documentation/#admonitions)? Not my admonitions from last night. Sorry again, brother :wink:

[2017-03-18 19:09] budparr commented on #43
I think you're saying that those are shortcodes and we need to account for them in the design. If so, noted. Thank you.

[2017-03-18 19:33] rdwatters opened #45 "Refactor site-navigation.html partial to use Hugo's built-in menu system..."
See https://github.com/rdwatters/hugo-docs-concept/issues/44#issuecomment-287566337

Currently, the site navigation is in a `site-navigation.html` partial and pulls from a `sitenavigation.yml` data file. In the interest of dogfooding, this partial should be refactored to leverage Hugo's built-in menu system.

For context, the idea behind deviating from `menu` was that I wanted to make it as easy a

[2017-03-18 19:36] rdwatters commented on #44
Please see my comments about the original intention in https://github.com/rdwatters/hugo-docs-concept/issues/45. I think Hugo's system works fine, but I had different goals in mind. I agree though that dogfooding is important.

With the topic/title of this issue in mind, will this have a positive effect on the build?

[2017-03-18 19:43] bep commented on #44
Yes.

[2017-03-18 19:45] bep commented on #44
The main performance issue with the nav partial is the "range where .Site.Pages ...". We should fix this in Hugo by adding a cache to this and similar template funcs, but even then I would say that the Hugo Docs site SHOULD use the built-in menu system, even if we loose some functionality.

[2017-03-18 20:41] #36 closed, assigned to nobody

[2017-03-18 20:49] digitalcraftsman commented on #40
Continuing the usage of subdomains makes sense I've we want to keep everything consistent. But we should also think about what are the implications for the deployment process. Currently, the theme and main site are two separate websites that life in their own repos.

Unless we try to keep the template code DRY with a flexible theme we'll face the problem that might have to maintain several website

[2017-03-18 20:51] rdwatters commented on #43
Yes, and perhaps for blockquotes as well. I want to eliminate the non-semantic use of `<blockquote>` for what are really CTAs, admonitions, etc.

The link for the admonitions above takes you to the contrib page with the examples. There is an optional `title` named parameter for each of the admonitions as well, although I'm not currently displaying them. It might make sense to add a third admonitio

[2017-03-18 21:38] budparr commented on #40
Netlify's automated deploy process is pretty sweet (Pro plan is free for open source). Other than the forum, I note that the Hugo sites don't have SSL, which is super-easy to implement there.

As far as theme goes, I think we could adapt the theme I've started for the home site for docs and themes, if that's what you mean about consistency.

[2017-03-18 21:42] budparr commented on #40
p.s. I wouldn't normally lobby for a particular commercial service, but hosting is one of those necessarily commercial things, and Netlify is an open-source contributor, a great service, and prominent in the space.

[2017-03-18 21:45] budparr commented on #43
I've started to build a set of classes for shortcodes, partials (where they are component-like), and internal templates, where appropriate. So whatever is there, they will be designed for.

[2017-03-19 04:20] moorereason commented on #44
Did a quick hack to show (I think) timings for all partial templates.

These number are CPU time.  Due to concurrency, we have multiple jobs and timers running at the same time.  So, the site-nav clocks in at 37s, which is 3x the total build time of 11s (yes, my old machine is slow).

[code]

[2017-03-19 15:32] rdwatters commented on #44
Bothers me that you can't emoji-response on mobile GH. Yowzer, @moorereason Slow machine or not, no reason for this single partial to rebuild at almost 3 times the speed of the entire Smashing site. I will refactor to use menus.

The current Hugo site has next/prev set manually in the front matter, but I think this is better taken care of at the template level so that authors can focus just on the

[2017-03-19 15:41] bep commented on #44
Yes, that should not be in the content files.

[2017-03-19 18:28] moorereason commented on #44
Ryan, this sounds similar to your desire to sort menu children by a field of the child pages.  Hence, your use of the YAML data file.

Are you asking for the same feature for Next/Prev (or, more probably, NextInSection/PrevInSection)?

[2017-03-19 18:38] rdwatters commented on #44
Not entirely, although you're a bit of a mind-reader since I was thinking about a feature request for something a la `.NextByTitle` or `.NextByDate`  or `.NextByPublishDate`, etc after my experience building the docs  (different thread for sure). For example, the `date` in all the `functions` files is the same...

I'm referring to the front matter that is in the content files of the current docs s

[2017-03-19 18:44] rdwatters commented on #43
@budparr Couple Qs:

* With the new design you're working on, are you going to respect the same classes for the site navigation? See https://github.com/rdwatters/hugo-docs-concept/issues/44 for some context.

* Anything I should know w/r/t images/figures/video? I ask because I will be adding new content files today that will include screenshots and similar content, and it makes sense for me to use

[2017-03-19 19:09] rdwatters commented on #11
Note to self: closed for multiple reasons, not the least of which is the complete removal of the `tutorials` section from the site...

[2017-03-19 21:12] budparr commented on #43
That youtube shortcode sounds great (I've got another project I can use it on!). I'll make sure that I respect any necessary classes.

[2017-03-20 00:23] rdwatters commented on #43
Called as such:

[code]

`thumbnail` and `description` are optional.

Example on temp page:

https://hugodocs.info/test

SCSS:
https://github.com/rdwatters/hugo-docs-concept/blob/master/pipeline/scss/components/_video.scss

Shortcode:
https://github.com/rdwatters/hugo-docs-concept/blob/master/layouts/shortcodes/yt.html

JS:
https://github.com/rdwatters/hugo-docs-concept/blob/master/pipeline/js/scr

[2017-03-20 00:26] bep commented on #43
@rdwatters `with` is much less verbose compared to `if`:

https://github.com/rdwatters/hugo-docs-concept/blob/master/layouts/shortcodes/yt.html#L3

[2017-03-20 00:34] rdwatters opened #46 "Update .site.recent..."
This has moved past deprecation and is no longer supported...

From forums:

https://discuss.gohugo.io/t/site-recent-deprecated-or-removed/5851

[2017-03-20 00:35] #46 closed, assigned to nobody

[2017-03-20 01:23] rdwatters opened #47 "Remove the findRE TOC example"
See

https://github.com/spf13/hugo/issues/3188

[2017-03-20 12:25] budparr commented on #3
For anyone following, the [wip] site is here: http://gohugo.netlify.com/ and the repo is here: https://github.com/budparr/gohugo.io

note on post design: https://github.com/budparr/gohugo.io/issues/3

[2017-03-20 12:32] budparr commented on #3
I've accounted for everything brought up here, either by implementation or noting in the code or issues. Closing this issue so further conversation can take place in that repo. Hope that's okay, @rdwatters.

[2017-03-20 12:32] #3 closed, assigned to nobody

[2017-03-20 15:46] rdwatters commented on #40
Neither would I, but my fan-boyism of Netlify has been, well, unabashed. Plus, nobody on this thread will likely ever get a penny from them, so I'm all for it. 👍

[2017-03-20 17:50] rdwatters commented on #8
No need to keep this open with @budparr 's spiffy new design :smile:

[2017-03-20 17:50] #8 closed, assigned to nobody

[2017-03-20 17:51] rdwatters commented on #3
Okay and then some. This looks freakin' fantastic. What are next steps for changing style in `/docs`?

[2017-03-20 18:54] budparr commented on #45
I'm curious to know where this stands. I tried using another theme with the docs site (just to study, really) and the menu didn't work. Are you going to use this [style](https://hugodocs.info/content-management/menus/#advanced):
[code]

[2017-03-21 05:09] rdwatters commented on #45
WNYIP. (Work not yet in progress.)

I'm planning on tackling this over the weekend. I used a data file for this partial, so that's why you probably aren't getting the functionality you are expecting. It's also why it's probably so darn slow to build. That said, I'm not a fan of adding the above to individual markdown files. If you're burdening contributors with multiple FM fields, I think it's bes

[2017-03-22 00:37] rdwatters opened #49 "Find a better place for list and homepage content"
This is currently a heading and subheading here:

https://hugodocs.info/getting-started/directory-structure/#homepage-and-list-page-content

However, the `_index.md` bit is such a common question on the forum, that this should probably only be touched on in the "Directory Structure" page and and then added elsewhere for better discoverability.

[2017-03-24 05:38] rdwatters commented on #43
@budparr

In the interest of time (and of course we can change this as much as needed, I've at least lined up the colors per your suggested in-browser edits:

https://hugodocs.info/about/

[2017-03-25 00:08] rdwatters opened #50 "Add Hugo SFTP to tools"
Add Hugo SFTP to tools. See:

https://github.com/spf13/hugo/commit/2eb28f8132513f9b959a8a3c8b69c10df91b6650

[2017-03-25 05:42] rdwatters opened #51 "docs: Add reuse page/snippets shortcode concept"
See recent commit on spf13 master:

https://github.com/spf13/hugo/pull/3229

[2017-03-25 18:46] BruceEckel opened #54 "Copy changes needed for "Hosting on Github Pages""
In order to get Github pages to properly work, you also need to set the baseURL in your project to the starting page for your Github pages repo.

[2017-03-25 19:47] #50 closed, assigned to rdwatters

[2017-03-26 23:52] rdwatters opened #56 "Change index.html for site to /about in preparation for new news/blog site"
In order to treat the new docs as a /docs site with the new design for the homepage and news/blog section, the homepage for the docs should take the end user to the first page of the documentation rather than the homepage (i.e., the list page at /about).

cc/ @budparr

[2017-03-27 12:15] budparr commented on #56
I'll be doing this as part of the new theme.

[2017-03-27 13:07] rdwatters commented on #56
I was hoping you'd say that :smile: Thanks, @budparr

[2017-03-27 14:49] #47 closed, assigned to nobody

[2017-03-27 15:00] #49 closed, assigned to nobody

[2017-03-27 16:47] rdwatters commented on #45
@budparr If you are working on the site navigation as part of the theme, can we close this?

[2017-03-27 16:49] rdwatters commented on #31
@moorereason While I'm working on content, is there anything I can do to facilitate adding this field/feature to each of the functions pages? E.g. breaking up `base` or `math` a bit more?

[2017-03-27 17:08] budparr commented on #45
I am, doing "something", but let's leave it for the moment. May need discussion.

[2017-03-27 18:31] #38 closed, assigned to rdwatters

[2017-03-27 19:12] moorereason commented on #31
Essentially, the `signature` field needs to be an array of strings instead of a just a string.  Example:

[code]

If we group several functions into a single page (like math), we need to decide whether to use the `signature` field.

[2017-03-27 19:32] rdwatters commented on #31
Done.

I would vote to just keep a couple exceptions and leave these signatures blank...or just add them to the body copy.

@budparr what do you think about adding this into the theme as part of the function single template ? @moorereason would you be able to add values to a couple of the functions files when you have a chance?

[2017-03-27 20:08] moorereason commented on #31
Make me a contributor and assign this issue to me.  I may be able to submit a PR this evening.

[2017-03-27 20:23] rdwatters commented on #31
I took it a step further and made you a collaborator 😉 Thanks much for the help @moorereason !

[2017-03-27 21:19] rdwatters commented on #54
@BruceEckel

Just so I have clarity, can you tell me why this needs to be set? Are you talking about assets breaking (e.g. stylesheets, scripts)?

[2017-03-27 22:13] BruceEckel commented on #54
Well, if you don't set the baseURL at all you get the following error when building:

And as far as I can tell, if you don't set the baseURL to your github repo, the links won't work. For example, I had to set mine to:

[2017-03-27 22:28] #31 closed, assigned to moorereason

[2017-03-27 22:33] rdwatters opened #58 "add function signatures and "workson" to functions single template"
@budparr

Please see PR here:

https://github.com/rdwatters/hugo-docs-concept/pull/57

@moorereason added signatures field to all files under `content/functions` and also mentions adding "workson" (see content/functions/format.md). Do you think we can add this to your current single template for the docs theme?

[2017-03-28 14:36] rdwatters opened #59 "Add "tip" admonition to existing "note" and "warning""
@budparr

This would be easy enough to implement, but I want to open this for discussion first. Bud, I know you are doing considerable leg work right now on the docs theme, so before I add this additional shortcode, I want to make sure it doesn't conflict with your efforts.

### Idea:

We currently have "note" and "warning" admonitions. (Here's the docs on [restructuredText directives](http://docu

[2017-03-28 15:27] budparr commented on #59
Sounds good to me.

[2017-03-28 16:44] #59 closed, assigned to nobody

[2017-03-30 18:56] rdwatters opened #60 "Update GH pages hosting and deployment to show gh-pages and master options"
See related issue on spf13/hugo:

https://github.com/spf13/hugo/issues/3249

[2017-03-30 20:36] #60 closed, assigned to nobody

[2017-03-30 20:48] rdwatters opened #61 "Remove livefyre from comment solutions under developer tools..."
See spf13/hugo issue:

https://github.com/spf13/hugo/pull/3246

[2017-03-30 20:48] #61 closed, assigned to nobody

[2017-03-31 22:50] #45 closed, assigned to budparr

[2017-04-01 11:27] digitalcraftsman opened #63 "Add example to format timestamp"
Currently, the docs list the [`now`](https://hugodocs.info/functions/now/) template function to retrieve the current time as `time.Time` struct.

It should be shown how this time stamp can be formatted, i.e. in an human-friendly format via `.now.Format "1st January 2006"` as an example.

This issue is based on [this forum comment](https://discuss.gohugo.io/t/merged-proposal-replace-page-now/4968/)

[2017-04-01 15:36] #63 closed, assigned to nobody

[2017-04-03 00:46] rdwatters opened #64 "Update content-management/multilingual to reflect new TOML support"
See this PR from spf13/hugo:

https://github.com/spf13/hugo/pull/3257

[2017-04-06 16:50] #64 closed, assigned to nobody

[2017-04-06 18:11] n10v commented on #44
Why do you need so many markdownify functions?
[code]

[2017-04-06 18:23] budparr commented on #44
I should report this here before anyone spends time on the docs code exist now. We're building a new theme for the docs. Here are the benchmarks for old and new:

Old (Hugo Docs Concept) Theme
[code]

New Theme
[code]

[2017-04-06 18:39] rdwatters commented on #44
This just made my day. Thanks so much, @budparr !

Also, thanks @bogem  for looking into the perf-related issues. I should have updated you sooner that Bud was working on a new theme and hope this didn't waste your time. Cheers.

[2017-04-06 19:28] rdwatters opened #67 "Add additional shortcode explanation to shortcode template page..."
See:

https://discuss.gohugo.io/t/docs-suggestion-explain-what-shortcodes-are-and-whats-like-them/6051

[2017-04-06 19:48] rdwatters opened #68 "add examples to partial templates for dict and additional contexts..."
Examples should include:

* passing map via `dict`
* Passing in contexts other than just `.` (e.g., [Twitter "quotes" from current Hugo docs](https://github.com/spf13/hugo/blob/master/docs/layouts/index.html#L178))

[2017-04-06 20:34] #67 closed, assigned to nobody

[2017-04-06 21:17] bep opened #69 "Old and outdated examples"
I notice that we still use many of Steve's old examples. While most of them still work, I hope, they look outdated.

One example:

[code]

First: The use of baseURL should be replaced with `absURL`
Second: There is a mistake in there somewhere.

And it should have been written to something like this, totally untested:

[code]

[2017-04-06 22:04] rdwatters commented on #69
I think the "meta" section is supposed to be specific to the page rather than pull all tags pages---at least from what I can tell from Steve's website.

Updated multiple pieces to reflect newer Hugo features:

https://hugodocs.info/templates/single-page-templates/#project-single-html

Thoughts?

[2017-04-07 01:24] rdwatters opened #70 "Add press updates from Li-Wen Yip"
See https://github.com/spf13/hugo/pull/3295 in SPF13/hugo repo....

[2017-04-07 01:25] rdwatters commented on #70
Closed via https://github.com/rdwatters/hugo-docs-concept/commit/bfd75019d57687f6864f7ca36926c366bb969c38

[2017-04-07 01:25] #70 closed, assigned to nobody

[2017-04-07 17:32] rdwatters opened #76 "Remove page section on Hugo Server in production..."
* The French tutorial mentioned is 2.5 years old
* Perhaps it is not best for us to promote the use of `hugo server` in production, if for no other reason than the support that would be needed.
* The new "Hosting and Deployment" section provides more than enough options for users...

[2017-04-07 17:33] #76 closed, assigned to nobody

[2017-04-07 18:54] rdwatters opened #77 "Add datatable shortcodes from current site..."
https://github.com/spf13/hugo/commit/3c405f5172a6081483c9e5f4264a4d60e60bc8ac

cc/ @budparr - will add these shortly. Not sure if your theme will include specific css classes for tables, etc, but updating these values should be easy enough to change as needed once the theme is good to go. Thanks!

[2017-04-07 20:17] #77 closed, assigned to nobody

[2017-04-07 20:56] #69 closed, assigned to nobody

[2017-04-08 05:56] rdwatters opened #78 "YouTube built-in shortcode description uses wrong named parameter name..."
Also, the current sites mention *unamed* when they mean *unnamed*.

See https://github.com/spf13/hugo/pull/3298

[2017-04-08 05:57] #78 closed, assigned to nobody

[2017-04-08 05:59] rdwatters opened #79 "document mainSections in themes and configuration..."
See https://github.com/spf13/hugo/issues/3296

[2017-04-08 16:37] rdwatters opened #80 "add siba.ai to showcase..."
See

https://github.com/spf13/hugo/pull/3305

[2017-04-08 16:38] rdwatters commented on #80
7b1b8647817ee9bbf2a9829a0a520bd7b92eda56

[2017-04-08 16:38] #80 closed, assigned to nobody

[2017-04-08 19:42] rdwatters opened #81 "Add Easy Hugo project to tools section..."
See
https://github.com/spf13/hugo/pull/3306

[2017-04-09 14:15] abathur opened #82 "incorrect "title" fields in some TOML example sections"
Some of the TOML front matter example sections have incorrect title fields, perhaps missed in converting between types?

Here are a couple examples:
https://hugodocs.info/content-management/types/#content/events/my-first-event.md
https://hugodocs.info/content-management/archetypes/#content/posts/post-from-custom-archetype.md

Unrelated, but I noticed while double-checking the above links that the

[2017-04-09 15:04] abathur opened #83 "Enhancing "Tumblr" reference in content types discussion"
I'm not sure how ubiquitous knowledge of Tumblr's post types is. It didn't trouble me, but it might be a good place for some screenshots or a link to a specific Tumblr theme that handles post types in a distinct way. The web or app dashboard might suffice.

https://hugodocs.info/content-management/types/#what-is-a-content-type

[2017-04-09 23:26] rdwatters commented on #82
Oops. Closed this here:
https://github.com/rdwatters/hugo-docs-concept/commit/db0b61234d8f9609495d7cb9355358840ae2523e

[2017-04-09 23:26] #82 closed, assigned to nobody

[2017-04-11 04:09] #81 closed, assigned to nobody

[2017-04-11 04:10] rdwatters commented on #56
Closing this for the above reasons. 👍

[2017-04-11 04:10] #56 closed, assigned to budparr

[2017-04-11 04:11] rdwatters commented on #51
Closing this since the feature never took flight.

[2017-04-11 04:11] #51 closed, assigned to rdwatters

[2017-04-12 18:15] rdwatters opened #84 "Add examples for how to use .Params in shortcode templates"
This merits its own example in the new docs. See the related discussion thread here:

https://discuss.gohugo.io/t/proposal-for-modifying-param-to-retrieve-deeply-nested-params/5437

And see related issue:

https://github.com/spf13/hugo/issues/3334

[2017-04-12 19:12] rdwatters opened #85 "Expand explanation of `add` function to include strings"
Current documentation does not explain that you can use `add` to combine strings. This was used in the docs concept to create `absURL` and `relURL` for the default social image in the site `<head>` for Twitter cards, etc>

See the following commit for an example:

https://github.com/rdwatters/hugo-docs-concept/commit/5aa10e59e77dfda9091277c1831ab38d56723b54

[2017-04-12 20:24] #85 closed, assigned to nobody

[2017-04-14 16:43] rdwatters opened #86 "Add in line explanations or references to other date-related page variables..."
See:

https://discuss.gohugo.io/t/docs-suggestion-mention-the-other-time-variables/6172

[2017-04-14 19:30] rdwatters opened #90 "Make sure config variables for both YAML and TOML are consistent..."
Seems like the list is comprehensive, but the order should probably be alphabetical or at least identical between YAML and TOML examples. See here:

https://discuss.gohugo.io/t/i-like-to-use-the-param-disablepathtolower-with-toml/6155/3

[2017-04-14 19:54] #86 closed, assigned to nobody

[2017-04-14 21:42] #54 closed, assigned to nobody

[2017-04-14 22:55] #84 closed, assigned to nobody

[2017-04-18 17:13] rdwatters opened #91 "Add txtpen support"
See spf13/hugo:

https://github.com/spf13/hugo/pull/3320

[2017-04-18 22:18] rdwatters opened #92 "Create more examples for len"
Particularly when combined with where:

https://discuss.gohugo.io/t/how-to-count-pages-in-a-where-statement/6132/4

[2017-04-19 00:28] #92 closed, assigned to nobody

[2017-04-19 17:02] rdwatters opened #93 "Expand on .Param function explanation..."
https://hugodocs.info/functions/param

Currently not clear that the method has a lookup order (i.e., looks at the page params first and then defaults to the site params if the page param is not found).

Also note the following issue re: empty strings:

https://github.com/spf13/hugo/issues/3366

[2017-04-21 02:35] abathur opened #94 ""type" mismatch between example and explanation"
The paragraph immediately following https://hugodocs.info/content-management/types/#content/events/my-first-event.md says that the example is of type "special", but the type is "event".

[2017-04-21 02:48] budparr opened #95 "Categories?"
I'm curious why all the content has categories that match the section?

[2017-04-21 02:56] rdwatters commented on #95
When I originally started this project, I thought it would be a decent future proofing technique and I was playing around with *just* using taxonomies rather than site sections to see how it would work out....

[2017-04-21 03:01] #94 closed, assigned to nobody

[2017-04-21 03:10] budparr commented on #95
So should we take them out?

[2017-04-21 05:44] rdwatters commented on #95
Any reason to not keep them in? It's like section metadata that would travel with the document. But if you think it adds clutter, I can take care of it :smile:

[2017-04-21 12:49] budparr commented on #95
They're fine (and I'm using them), just as long as they're consistently created. However, I guess my question was why they match Section one-to-one.

Tags do a good job of rearranging (for lack of a better term) the content to help people find things, and maybe we can utilize categories similarly, but going in the opposite direction. That is, tags pull out specific terms, categories are more gener

[2017-04-21 14:17] rdwatters commented on #95
I think this is a great idea and definitely much better use of the taxonomies, to be sure. I think I was just moving stuff around so much in the beginning that they almost served as reminders. We should definitely improve this, but perhaps after launch?

Aside: you just gave me an idea about how one could use taxonomies (and taxonomic weight) though for menus and completely avoid the whole Hugo me

[2017-04-21 14:22] budparr commented on #95
Totally fine by me.

[2017-04-21 17:40] budparr opened #97 "Add some common examples for using Regex with the ReplaceRe and findRE functions"
Noting the [docs on ReplaceRe](https://hugodocs.info/functions/replacere/) don't mention some of the stuff in this thread: https://discuss.gohugo.io/t/replacere-not-working-for-me-solved/5103/3?u=budparr and probably should.

Might be "neat" to add a few more common examples, like for currency, etc. Probably wouldn't be much for some of Hugo's contributors (i.e. not me 😸  ) to come up with a few.

[2017-04-21 17:45] rdwatters commented on #97
I like the idea of expanding on Go's RegEx flavor and am always for more examples.

Last time anything regex-y was brought up was in this thread, which made me question the future of the functions or, at least, how much they should be promoted. Thoughts?

https://github.com/spf13/hugo/issues/3188

[2017-04-21 17:48] budparr commented on #97
That thread seems to me to be saying that `replaceRE` shouldn't have been used in the example in the docs, not that `replaceRE` shouldn't be in Hugo.

[2017-04-21 17:51] moorereason commented on #97
`replaceRE` isn't going away.

[2017-04-21 18:02] rdwatters commented on #97
We can work on the examples later, but I've at least added a note with relevant links:
https://github.com/rdwatters/hugo-docs-concept/commit/777f1cefaf9bf8030cdba465d7f11a007d5be370

And live:

https://hugodocs.info/functions/replacere/
https://hugodocs.info/functions/findre/

[2017-04-21 20:04] moorereason opened #98 "Move template lookup order links to top of lookup order page"
On https://hugodocs.info/templates/lookup-order/, the **Lookup Orders** list is at the bottom of the page, after a long section of examples.  The **Lookup Orders** should be at the top, above the examples.

I'll submit a PR shortly.

[2017-04-21 21:02] #98 closed, assigned to nobody

[2017-04-22 02:42] budparr opened #100 "Functions titles?"
Hey, @rdwatters No rush on this, but I'm curious why this [title partial](https://github.com/rdwatters/hugo-docs-concept/blob/master/themes/hugo-docs-concept/layouts/partials/page-title.html#L3) is constructed the way it is:

[code]
I just don't understand what problem these are trying to solve and why functions have lowercase titles. I also don't see any markdown in other titles.

Thanks!

[2017-04-22 02:44] rdwatters commented on #100
Some lame hackery is my guess that has to do with `title` capitalizing "And". Wrapping it in an emphasis tag allowed for easier styling since I was using the same monospace font for the titles...not sure why I didn't just use a `<span>` though...

[2017-04-22 02:48] rdwatters commented on #100
One thing to note is the use of both link titles and title...

I did this intentionally so that I could still sort by title and have it be case insensitive...but I wanted the link title for presentation to keep the casing accurate. It looks like you are using the titles, rather than link titles, here possibly?

http://hugodocs-170421.surge.sh/functions/

[2017-04-22 02:54] budparr commented on #100
That's why I found this, investigating the linktitle thing. I don't mind adding that in, just that when I found this I was confused by the replace stuff and the markdownify

[2017-04-22 02:56] rdwatters commented on #100
Oh sorry, as for the `markdownify`...I include that in most titles with other projects and probably did it out of habit. Works well for articles for more complex styling, [like here](http://chad.is/beautiful-web-type/#nietzsche), but I guess it offers little for something like the Hugo docs...

[2017-04-22 02:57] budparr commented on #100
Right. I use it that way too. No problem.

[2017-04-22 02:57] #100 closed, assigned to nobody

[2017-04-25 00:06] budparr opened #101 "Discussion: Move "Hosting & Deployment" articles out of docs"
Goals
1) Trying to cut back the docs as much as possible.
2) Not endorse particular commercial services in an "official" way.

I'd love to get "Hosting & Deployment" off top level menu and create a page within the tools(?) section that references all of them, and then publish those pages on the (arguably) less formal blog.

Thoughts?

[2017-04-25 16:03] rdwatters commented on #101
I see what you're saying, but I don' think the docs are actually *that* long. I'd like to just keep it to the most popular and beginner-friendly hosting/deployment solutions. I'm not saying rsync is especially sophisticated, but we can probably get rid of that page.

I like the logic on this, but I worry about creating more list pages (i.e., lists of links and not necessarily a Hugo `list.html`) t

[2017-04-25 16:31] budparr commented on #101
Sorry, I guess I wasn't very clear. When I said "Trying to cut back the docs as much as possible." I meant cut back on the top-level menu items. I think the menu will be most useful if it's really focused on Hugo, not static stuff in general. Having been recently new to Hugo, I've experienced having to wade through all those menu items. I really want to reduce the noise as much as possible here.

[2017-04-25 17:19] rdwatters commented on #101
All good points :smile: :

I agree wholeheartedly, but we are already including the Netlify logo in the bottom right, so I don't have a problem including some screenshots and Hugo-specific walkthroughs for this service. I think they've been very generous to us (and at the risk of solipsism, to me in particular). We also have the Algolia logo as a requirement for using the free service.

The commun

[2017-04-25 17:45] budparr commented on #101
If you all are comfortable advocating these services, it's fine by me. I'm trying to take the long view here and have stated my opinion.

I'm already re-thinking menu structure, which will help my other reason (as a designer, I shouldn't be trying to dictate content anyway, I should be taking the constraints as I'm given them :) ).

FWIW IMHO, the vue docs aren't particularly remarkable.

[2017-04-25 17:51] rdwatters commented on #101
I think of you as more than just a designer, and I know you have content expertise, so I legitimately appreciate the feedback :smile:

As far as design or content? If design, I agree. They're really simple and unremarkable. But I think the content, visualizations, explanations, writing, examples, etc are fantastic, and I've gone through the docs of every major JS MVwhatever at this point.

(You do

[2017-04-25 18:01] budparr commented on #101
I was thinking of the design (re: vue docs), because I thought you were too. I've never read the content.

[2017-04-26 18:35] rdwatters opened #102 "Add numFormat function documentation..."
https://github.com/spf13/hugo/pull/2851

@moorereason I'm committed to making sure that nobody on the team needs to do duplicate work and will add this to this repo if you're busy. I want to make a point of not taking credit away from *anyone* contributing to the docs, though, so you're welcome to add as well. I created the [blank file](https://github.com/rdwatters/hugo-docs-concept/blob/master/co

[2017-04-27 02:03] #101 closed, assigned to nobody

[2017-04-28 06:52] Jos512 opened #103 "Contribution guidelines?"
I just forked the repo with the idea of exploring the content to see if I can make contributions. What are the guidelines/instructions for contribution?

I'm asking because I get an awful lot of errors when building the forked repo:

[code]

**Edit**: I "fixed" the errors by removing all references to Twitter and Instagram in the `shortcodes.md` file, so that Hugo does not fail anymore when having

[2017-04-28 19:22] moorereason commented on #97
Could also mention that https://regex101.com/ has a `golang` pattern testing mode.

[2017-04-30 02:46] rdwatters commented on #58
This is taken care of with the new theme being developed by @budparr. Closing.

[2017-04-30 02:46] #58 closed, assigned to nobody

[2017-04-30 19:11] rdwatters opened #104 "Update mathjax cdn reference..."
See the following PR in spf13/hugo:

https://github.com/spf13/hugo/pull/3416

[2017-04-30 19:15] #104 closed, assigned to nobody

[2017-04-30 19:17] rdwatters opened #105 "Remove opinionated code blocks, especially classes and IDs in HTML..."
See comment regarding removing IDs and CSS classes from documentation:

https://github.com/budparr/gohugo-theme/issues/16#issuecomment-298188838

[2017-04-30 20:15] rdwatters opened #106 "Add undocumented function files..."
Per moorereason's recent namespacing for functions. See: https://github.com/spf13/hugo/commit/de7c32a1a880820252e922e0c9fcf69e109c0d1b

Including, but (potentially) not limited to:

- [ ] `strings.Contains`
- [ ] `strings.ContainsAny`
- [ ] `strings.HasSuffix`
- [ ] `strings.TrimPrefix`
- [ ] `strings.TrimSuffic`

**Note to self:** Wait for Bjorn's review/cleanup/approval/merge before fully docume

[2017-04-30 22:16] #105 closed, assigned to nobody

[2017-04-30 22:23] rdwatters commented on #93
Added reference to appropriate GH issue as well:

https://github.com/rdwatters/hugo-docs-concept/commit/35e6161bff5710a4278757e60a2b8f1f6f4d9482#diff-32107ca71183e2c58dcce38d78d2742a

[2017-04-30 22:23] #93 closed, assigned to nobody

[2017-04-30 22:24] rdwatters commented on #44
Seeing as @budparr 's theme has shown considerable improvements for site build times, I'm going to go ahead and close this.

[2017-04-30 22:24] #44 closed, assigned to nobody

[2017-04-30 22:25] rdwatters commented on #43
@budparr Seems like your respective repositories are better places to have these discussions. Therefore, closing...

[2017-04-30 22:25] #43 closed, assigned to nobody

[2017-04-30 22:28] rdwatters commented on #37
Closing. The tags added to where already help (a little bit), but this is something that should be discussed further when/if the following is merged to master:

https://github.com/spf13/hugo/pull/3415

[2017-04-30 22:28] #37 closed, assigned to rdwatters

[2017-04-30 22:30] rdwatters commented on #27
Closing. This should be taken care of with @budparr 's new Hugo documentation theme....

[2017-04-30 22:30] #27 closed, assigned to budparr

[2017-04-30 22:38] rdwatters commented on #103
@Jos512 Thanks for reporting this issue. I apologize for the delayed response. As you've probably already noticed, an issue was opened up in the main repo for Hugo for panic warnings when running the local server but working offline.

That said, you are more than welcome to make any existing changes to copy/content and submit a PR. I get the same warnings for the menu, _but_ the site still renders

[2017-04-30 22:38] #103 closed, assigned to nobody

[2017-04-30 22:42] #91 closed, assigned to nobody

[2017-05-01 20:53] rdwatters commented on #106
**Note to self** Keep in mind forthcoming automation of funcs, at least w/r/t attributes currently kept in FM.

Ref https://github.com/spf13/hugo/issues/3418

[2017-05-02 16:34] rdwatters opened #107 "Add documentation on slug translation..."
This may already be updated based on the changes made to URL management, but note:

https://github.com/spf13/hugo/pull/3425

[2017-05-02 16:39] #107 closed, assigned to rdwatters

[2017-05-03 20:51] rdwatters opened #108 "Update lang settings in multilingual examples to be spec compliant..."
See https://github.com/spf13/hugo/issues/3432

And also https://github.com/jamstack/jamstack.org/pull/56#discussion_r114234978

For more context:

https://www.w3.org/International/articles/language-tags/

[2017-05-03 21:04] rdwatters commented on #95
@budparr Since I presume "launch" also includes moving all of this content into it's proper Hugo repo, I'm going to close this issue. Thanks!

[2017-05-03 21:04] #95 closed, assigned to nobody

[2017-05-05 19:01] digitalcraftsman opened #109 "Explain properties of a menu entry in more detail"
[Listing the properties and it's type of a menu entry](https://hugodocs.info/content-management/menus/#what-is-a-menu-in-hugo) isn't the best description even if most of the properties are obvious. Explicit is better an implicit.

[2017-05-05 19:03] rdwatters commented on #109
Agreed. I'll work on this over the weekend. I also need to get on the new Quick Start sooner rather than later.

[2017-05-18 19:06] rdwatters opened #111 "Add examples for union and intersect..."
See comment here:

https://github.com/spf13/hugo/issues/3174#issuecomment-302348884

[2017-05-22 18:56] rdwatters opened #112 "Remove outdated tools from tools section...."
See https://github.com/spf13/hugo/pull/3498#event-1092351050

[2017-05-22 18:57] rdwatters opened #113 "Update gitinfo..."
Improvements made by Hugo user.

See...

https://github.com/spf13/hugo/pull/3496

[2017-05-23 21:21] rdwatters opened #114 "Update overview/usage for hugo help..."
See related PR in spf13/hugo:

https://github.com/spf13/hugo/pull/3515/files

[2017-05-24 18:45] rdwatters opened #115 "Remove brew update from install instructions..."
See related PR:

https://github.com/spf13/hugo/pull/3519/files

[2017-05-24 18:53] #115 closed, assigned to nobody

[2017-05-25 16:42] rdwatters opened #116 "Add troubleshooting pointers for common new uses issues with adding stylesheets..."
See this forum thread:

https://discuss.gohugo.io/t/having-trouble-adding-styling-to-my-hugo-site/6718

[2017-05-25 20:59] rdwatters opened #117 "Remove layouts/_default/single.html from homepage lookup order..."
See related issue:

https://github.com/spf13/hugo/issues/3527

[2017-05-25 20:59] #117 closed, assigned to nobody

[2017-05-26 19:30] rdwatters opened #119 "Update linktitle in front matter of _index.md to show section overview/intro"
With the addition of the the new theme, the titling is a bit strange/inconsistent for link titles in the global nav. This will be an easy fix.//

[2017-05-26 20:00] rdwatters commented on #119
Closed via https://github.com/rdwatters/hugo-docs-concept/commit/65c97160e60ba4a26ba9f3ee98215261f5786b7c

[2017-05-26 20:00] #119 closed, assigned to rdwatters

[2017-05-27 03:39] budparr opened #121 "Create a Featured Sites Section on Home Page"
Moved this from the gohugo.io repo

**Goal**:
Goal is to show users who is using Hugo. The more prominent and well-designed the better. Also, good to show a variety of use-cases (blog, docs, landing pages, etc.), as well as from a variety of countries.

**Recs**:
- use screenshots + logos
- Placement, tbd.

**Approach**:
I think the approach will be to create a content section for sites to feed th

[2017-05-27 03:40] budparr opened #122 "add Custom Output Types to Home Page"
- [ ] source icon
- [ ] write copy

[2017-05-30 14:48] rdwatters opened #125 "Document template content escaping and security rules"
From spf13: https://github.com/spf13/hugo/issues/3539

Note references to `safeHTML`, `safeJS`, `safeCSS`, etc. Likely a good candidate for a new page section with the [templating introduction](https://github.com/rdwatters/hugo-docs-concept/blob/master/content/templates/introduction.md).

[2017-05-30 17:23] rdwatters commented on #125
Note to self: probably a good candidate for an entry in "Troubleshooting."

[2017-05-30 17:26] #112 closed, assigned to rdwatters

[2017-05-30 17:32] rdwatters commented on #122
Some ideas...

### Headings

1. You're not Limited to HTML
2. Unlimited Output
3. Unlimited Output Formats
4. Generate Any Content You'd Like

(I think the smaller heading just below the icon would be as simple as "Custom Output Formats")

### Descriptions

(I can throw some ideas out there later this evening if you're interested...)

[2017-05-30 17:33] budparr commented on #122
sure!

[2017-05-31 18:19] rdwatters opened #127 "Incorporate improvements to published archetypes page..."
Note to self that these improvements need to be incorporated into `archetypes.md`; make sure to reach out to @davidturnbull for credit re: improvements:

https://github.com/spf13/hugo/pull/3543

[2017-06-05 22:59] moorereason opened #129 "Add a page about Upgrading Hugo"
It would help our users to know exactly how we handle breaking changes and where people should look to make sure they don't miss something.  My thoughts:

1. We only introduce breaking changes in minor releases.
1. When necessary (and possible), we deprecate features for two minor releases.  Deprecation means that warnings are logged when those features are used.
1. We always try to call out depre

[2017-06-06 17:17] rdwatters commented on #129
@moorereason Are you thinking a whole new page under "Getting Started" or that I just write some copy around what I now realize is a pretty pathetic area of the webpage:

https://hugodocs.info/getting-started/installing/#upgrading-hugo

[2017-06-06 19:43] moorereason commented on #129
I was thinking of a separate page only because it would be in the menu, but it's your call.

[2017-06-10 21:21] rdwatters opened #130 "Explain layout and outputs front matter variables...."
See https://github.com/spf13/hugo/issues/3558

[2017-06-10 21:26] #130 closed, assigned to rdwatters

[2017-06-11 19:29] rdwatters opened #131 "Add note on noindex as part of aliases...."
See https://github.com/spf13/hugo/pull/3521/

[2017-06-11 19:32] #131 closed, assigned to rdwatters

[2017-06-12 12:28] mgmart opened #132 "Github Deployment chapters are outdated"
As I began to fiddle around with Hugo in January I followed the documentation to set up a site using GitHub pages.
I ended up with a working site which was deployed by Wercker.
After some time I realised that it is no good practice to have the theme hardcoded into the site as suggested by the [documentation](https://hugodocs.info/hosting-and-deployment/deployment-with-wercker/#creating-a-basic-hug

[2017-06-12 14:52] rdwatters opened #133 "Update RPN docs to include CentOS...."
See https://github.com/spf13/hugo/pull/3581/files

[2017-06-12 17:31] rdwatters opened #134 "Add configuration tip about too many open files (ulimit)"
See https://github.com/spf13/hugo/issues/3582

[2017-06-12 20:25] rdwatters opened #135 "New nested sections feature needs to be documented..."
See https://github.com/spf13/hugo/issues/3584

[2017-06-12 22:02] rdwatters opened #136 "Explain use of .Site.GetPage for individual content files..."
And update accordingly:

https://github.com/spf13/hugo/pull/3524

[2017-06-13 14:57] rdwatters opened #137 "Add multiple examples of range in range func content file..."
Based on recent feedback from new Hugo users.

Right now, the page is pretty empty. `range` is used multiple times in the templating introduction, but I think the page at `functions/range`should have a list of examples ranging from basic to advanced.

[2017-06-13 16:56] digitalcraftsman opened #138 "Update links/references due to the transition to the new GH organisation"
Hugo moved to @gohugoio

[2017-06-13 18:21] rdwatters commented on #138
I'm assuming I should hold off until we have the Org, well, organized? That is, is the plan still currently to move the docs into their own repo within the GoHugoIO GH org? And thanks for reminder.

[2017-06-14 17:56] rdwatters opened #139 "Content review: Content Management"
Per @bep suggestion to copy edit docs before moving to new Hugo org:

- [ ] archetypes.md
- [ ] authors.md
- [ ] comments.md
- [ ] cross-references.md
- [ ] formats.md
- [ ] front-matter.md
- [ ] menus.md
- [ ] multilingual.md
- [ ] organization.md
- [ ] sections.md
- [ ] shortcodes.md
- [ ] summaries.md
- [ ] taxonomies.md
- [ ] toc.md
- [ ] types.md
- [ ] urls.md

[2017-06-14 17:57] rdwatters opened #140 "Content Review: About Section"
Per @bep suggestion to copy edit docs before moving to new Hugo org. For the About section, this is more about proofing and copy editing...

- [ ] _index.md
- [ ] benefits.md
- [ ] features.md
- [ ] license.md
- [ ] roadmap.md
- [ ] what-is-hugo.md

[2017-06-14 18:10] bep commented on #139
I'm not following any checklists ... :-)

[2017-06-14 18:43] rdwatters commented on #139
You don't need to. This is mostly for me and my own OCD 😆

[2017-06-14 18:46] bep opened #141 "Template funcs docs should live in subsections"
Matching the tpl/* namespaces where the implementation lives, see

https://godoc.org/github.com/gohugoio/hugo

[2017-06-14 18:48] rdwatters commented on #141
cc/ @budparr for any theme/design considerations here...

[2017-06-14 18:57] bep commented on #141
To add to this: I don't think each func should be listed in the left menu (I think we have discussed that before, it is very long and hard to navigate currently, and it will get worse), a list of the subsections would be nice.

[2017-06-14 19:05] digitalcraftsman commented on #141
With subsections you refer to the namespaces, right?

[2017-06-14 19:05] rdwatters commented on #141
Yes, we did. Agreed that left nav list is too big to be expanded by default, but also showing only NSs assumes too much of end users; i.e., newbs can intuit more from a function's name than it's namespace. I'll defer to Bud's thoughts on presentation.

[2017-06-14 19:07] rdwatters opened #142 "Add explanation for git clone vs submodule for themes..."
Probably nothing more than an admonition since git clone apparently causes issues with CI/CD services....

[2017-06-14 19:09] rdwatters commented on #141
As an FYI for this thread, `ns` is already a part of the new `functions` archetype:

https://github.com/rdwatters/hugo-docs-concept/blob/master/archetypes/functions.md

[2017-06-15 22:38] bep opened #144 "Can you close down https://hugodocs.info"
Either that or remove the theme that makes it look official, or just let it live on the Netlify domain. People are linking to it and start to think that this is the Hugo docs site, which is bad for several resons -- it kind of takes a little of the firework out of Hugo's upcoming site release.

[2017-06-15 23:57] rdwatters commented on #144
How about I take it down and put a single message up saying that we are moving the new site over to https://gohugo.io? I would like to put a date on it as well :smile:

[2017-06-16 21:54] bep commented on #144
Never mind. Steve should handle this. I'll focus on the issues in the main repo.

[2017-06-16 21:54] #144 closed, assigned to nobody

[2017-06-19 11:15] rdwatters opened #146 "Add examples of using templating for archetype key-values"
https://github.com/gohugoio/hugo/pull/3607#issuecomment-309378037
https://github.com/gohugoio/hugoDocs/issues/11

Add to `content/content-management/archetypes.md`

Also mention usage in `content/variables/site.md`.

For a list of vars available:

https://github.com/gohugoio/hugo/pull/3607#issuecomment-309378037

Godoc ref:

https://godoc.org/github.com/gohugoio/hugo/create#ArchetypeFileData

[2017-06-20 16:48] rdwatters opened #147 "Add content file for NumFmt...."
https://gohugo.io/templates/functions#lang-numfmt

[2017-06-20 16:59] #147 closed, assigned to rdwatters

[2017-06-20 17:00] rdwatters opened #148 "Document disableAliases setting in configuration..."
https://github.com/gohugoio/hugoDocs/issues/14

Add to `content/getting-started/configuration.md` and `content/content-management/urls.md` under `## Aliases`.

[2017-06-20 17:01] rdwatters opened #149 "Document use of Hugo templating within archetypes..."
Add to `content/content-management/archetypes.md`

Also mention usage in `content/variables/site.md`.

For a list of vars available:

https://github.com/gohugoio/hugo/pull/3607#issuecomment-309378037

Godoc ref:

https://godoc.org/github.com/gohugoio/hugo/create#ArchetypeFileData

[2017-06-20 17:22] rdwatters commented on #149
I should never go on GitHub before drinking coffee. This is a duplicate of the issue I put up previously, #146

[2017-06-20 17:22] #149 closed, assigned to rdwatters

[2017-06-20 19:49] rdwatters commented on #129
I think a new page makes the most sense, and for my own notes:

https://github.com/gohugoio/hugo/pull/3620#issuecomment-309866532

[2017-06-20 20:33] rdwatters opened #150 "Update RSS limit docs...."
See https://github.com/gohugoio/hugoDocs/issues/9

[2017-06-20 20:35] #150 closed, assigned to rdwatters

[2017-06-20 20:38] rdwatters commented on #141
@budparr Would it be easier, at least navigation wise, for me to treat the `ns` as an attribute for each file in this section or put files individual directories? My thoughts are that it's still easiest for end users to see an alphabetical list of functions, but clumping them together (similar to current official docs) could have value. LMK how I can facilitate.

See also https://github.com/gohugo

[2017-06-20 20:41] rdwatters commented on #122
@budparr I'm good with closing this if you are. (See commit above where copy was tweaked just for usage reasons.)

And thanks again :smile:

[2017-06-20 20:43] #133 closed, assigned to rdwatters

[2017-06-20 20:45] bep commented on #141
To clarify what I mean by this:

* Every single md-file for every template func should be put in a file folder corresponding to the Namespace they belong to (see Godoc).
* Eeach "namespace section" should then have a content file with a reasonable title + description.
* The section listings could sort sub sections alphabetically, but this will be a handful, so not very important.
* This should not

[2017-06-20 20:47] #114 closed, assigned to nobody

[2017-06-20 20:47] rdwatters commented on #102
This was closed with #147

[2017-06-20 20:47] #102 closed, assigned to nobody

[2017-06-20 20:48] budparr commented on #141
I agree that, if we're using subsections, it would be easier to navigate that rather than the full list. But I disagree about there being a full list somewhere. I don't find Algolia search all that useful and find myself accessing the drop-down list pretty much 100% of the time.

[2017-06-20 21:18] budparr commented on #122
Perfect, thanks.

[2017-06-20 21:18] #122 closed, assigned to budparr

[2017-06-21 01:42] budparr opened #151 "Improve Search"
An example: "chomp"

<img width="553" alt="screen shot 2017-06-20 at 9 39 56 pm" src="https://user-images.githubusercontent.com/115347/27363194-07497108-5601-11e7-9278-7f868ce8bd5d.png">

results:
https://hugodocs.info/functions/chomp/
https://hugodocs.info/tags/trim/
https://hugodocs.info/categories/functions/
https://hugodocs.info/functions/
https://hugodocs.info/tags/

I don't know anything abo

[2017-06-21 15:46] budparr commented on #141
@rdwatters when you've moved the files, share that branch with me, and I'll work on the design aspect.

[2017-06-21 18:47] epatr opened #152 "Explanation of what "site is moving" means?"
Is there any explanation of this landing page saying the site is moving? I had just showed it to somebody that was struggling with the official documentation, and then the site stopped working.

[2017-06-21 19:20] digitalcraftsman commented on #152
The website was only meant as a temporary demo for the rewritten docs and the application of the new design. It wasn't actually intended to be used by the general public, i.e. regular Hugo users.

Currently, we're working on moving the temporary demo to the official url https://gohugo.io/. But people began to link this site all over the place which caused some users to believe that this were the o

[2017-06-21 19:35] epatr commented on #152
I see. Thanks for responding. It may not have been your intention to be viewed by the general public, but I definitely found immediate use of your site and am disappointed it is gone. It was apparent to me that the site was a work-in-progress, but even in that state it was much more understandable than the official docs.

[2017-06-21 20:59] rdwatters opened #153 "Beef up examples of custom outputs..."
This is a good example mentioned by @bep on the forums:

https://github.com/elm-conf-us/2017.elm-conf.us/blob/master/themes/elm-conf/layouts/talks/list.ics

[2017-06-22 17:05] #152 closed, assigned to nobody

[2017-06-27 16:50] rdwatters opened #154 "update content/description for built-in Disqus template..."
See

https://github.com/gohugoio/hugo/pull/3655

[2017-06-27 16:51] rdwatters opened #155 "Add `joinLines` description to config for BlackFriday..."
See the added feature here:

https://github.com/gohugoio/hugo/pull/3574

[2017-06-27 16:53] rdwatters opened #156 "Add default header levels description for rst2Html in external helpers..."
Per this PR:

https://github.com/gohugoio/hugo/pull/3528

[2017-06-28 17:21] rdwatters opened #157 "Confirm use of PreserveTaxonomyNames and RemovePathAccents...."
See forum discussion here:

https://discourse.gohugo.io/t/about-special-characters-in-taxonomy-and-documentation/7230

Need to confirm whether both need to be documented...

[2017-06-29 01:42] rdwatters opened #158 "Better document use of disableKinds as a means to remove taxonomies..."
Seethe following forum thread:

https://discourse.gohugo.io/t/sitemap-renders-incorrectly-when-removing-taxonomies-in-config-file/7245

[2017-07-02 19:36] rdwatters opened #159 "Update lookup order docs per new additions for i18n..."
See https://github.com/gohugoio/hugo/pull/3670

[2017-07-03 19:23] rdwatters commented on #151
I think there is a way for us to remove entire sections. Also, I don't think we should have categories writing to the page at all, so I'll change the config.toml. That said, we can configure this via PR. (Looks like Algolia removed the docs concepts index, which is fine; the worst that will happen is we will be a day behind on indexing the site when we get this moved over):

https://github.com/alg

[2017-07-03 19:54] rdwatters commented on #111
Also see example provided here:

https://github.com/gohugoio/hugo/pull/3673#issue-240226072

[2017-07-04 07:23] mgmart commented on #132
Don't know if this repo is still active.

Anyway, I've did the promised writeup here: http://schnuddelhuddel.de/deployment-of-a-hugo-site-on-github-pages/

[2017-07-12 12:35] DirtyF commented on #151
/cc @ElPicador @pixelastic from Algolia who could help on this

[2017-07-13 04:24] rdwatters commented on #151
Thanks @DirtyF. Good call on @'ing the Algolia folks.

I think we can take care of it by just disincluding taxonomy pages, which I believe should only includes `/tags` and not `/categories` since the latter provides little value, and I'm going to be cutting the former down considerably...

[2017-07-13 16:39] pixelastic commented on #151
Hey all,

Tim from Algolia here. I tried to [access the website](https://hugodocs.info/functions/chomp/) to have a look at the issue but only got a 404-like page.

![image](https://user-images.githubusercontent.com/283419/28177193-4f8bd2de-67fa-11e7-9ea3-e4b1d822fbc3.png)

How can I reproduce the issue? Once you have that, I would ping @ElPicador to have a look at it and/or post a new issue here:

[2017-07-13 17:35] digitalcraftsman commented on #151
Hello @pixelastic,

thanks for participating in this conversation. For now, you can check out the `dev` branch to see the actual website.

[2017-07-13 18:44] digitalcraftsman commented on #116
We should advise users to check the developer tools of the browser tools in order to troubleshoot a problem. See https://discourse.gohugo.io/t/themes-not-showing-on-github-page/3073/4

[2017-07-15 20:31] rdwatters commented on #151
@digitalcraftsman I believe the index that was set up separately for hugodocs.info has been deleted from Algolia, so in the event that you do run `dev` locally, @pixelastic, the results are probably pulling from the current gohugo.io. Also, @bep is temporarily disabling generation of the tags for the initial release, which I think will help with the repeat results @budparr put in the above screens

[2017-07-17 12:39] budparr commented on #151
I'm closing this issue. Search seems to be better now that the site has been reindexed. Thanks for your help!

[2017-07-17 12:39] #151 closed, assigned to nobody

[2017-07-17 17:07] #140 closed, assigned to rdwatters

[2017-07-17 17:07] #139 closed, assigned to rdwatters

[2017-10-09 17:36] revosw opened #162 "How to document"
I see many issues here writing about _what_ to document, but not _how_. Now, while I do believe you guys are way more experienced than me writing documentation, I just want to give my two cents.

The 5W1H method, or at least at minimum _what_, _why_ and _how_, should be used to explain the various Hugo approaches and features.

* What is it used for?
* Why would I want to use it?
* How do I use it

[2017-10-13 15:31] rdwatters commented on #162
Hi @revosw

As you may have noticed, this repo is no longer maintained since we have moved everything over to the official Hugo org. I agree with some of your points, but please open all issues here:

https://github.com/gohugoio/hugoDocs

Thanks much for your contributions and considered support of Hugo :smile:

[2017-10-13 15:31] #162 closed, assigned to nobody

[2018-01-15 00:25] #40 closed, assigned to budparr

[2018-01-15 00:25] #121 closed, assigned to budparr

[2018-06-29 17:26] ghost commented on #41
<del>@rdwatters I subbed a pull to update the docs (it was easier than creating an issue). Unfortunately I refuse to sign contracts to perform open source development so please consider forking my work and resubmitting the pull so it may be merged when its merged. Trims! (That's short for Terima Kasih.)

https://github.com/gohugoio/hugoThemes/pull/379</del>

I just saw this repo was a poc. Har har

[2018-11-29 05:20] #129 closed, assigned to rdwatters